[2017-05-29 07:50] nkuehn commented on #268
You're all right - it's a question that's only possible to answer by actually testing with real-world data (compressed and uncompressed).

I tried stuff like this a lot in the past, all across Java, Javascript (server and browser etc) and found just a few commonalities:

 * custom binary formats never did the trick concerning serialization /deserialization. The native JSON (de)serializers (or thei

[2017-05-29 16:17] olivernn commented on #268
@nkuehn regarding compression, if you can't compress some of your assets before deploying to S3 you can look at setting up CoudFront which can do the compression on the fly for you, you might also be able to do the same with other CDN providers.

As for binary formats, serialisation performance isn't really an issue, as it is does offline at build time. Obviously it shouldn't take hours, but its u

[2017-05-29 18:01] guirip opened #269 "Question: working with accented character"
Hello Oliver,
I hope you're doing fine.

I come back to you with this [fiddle](https://jsfiddle.net/of54k0uk/14/), where you can see that some data has accented characters. e.g 'général'

- If the user searches for 'général', matching entry is returned as expected.

- If the user searches for 'genéral', no entry is returned.

How would you advise me to get this working ?
Is there a simpler way tha

[2017-05-29 20:14] olivernn commented on #269
In a way Lunr is doing the right thing here, as there is no entry in the index for 'genéral', i.e. it thinks 'e' and 'é' are different characters (which technically they are) and so doesn't find anything.

There is a [lunr-unicode-normalizer](https://github.com/cvan/lunr-unicode-normalizer) plugin which attempts to normalise characters by removing diacritical marks. It looks like it probably needs

[2017-05-30 10:04] meltuhamy opened #270 "Search hangs when searching a repeated substring with wildcard"
See the jsFiddle here: https://jsfiddle.net/bwe0f44g/

[code]

[2017-05-30 10:24] meltuhamy commented on #270
It seems that if the search includes a * at the beginning of the query, the search hangs.

[code]

[2017-05-30 10:36] guirip commented on #269
Hello

Thanks for the link !

I am sorry but I don't have time at all to dig in to migrate the plugin (being almost alone on a big app with an approaching deadline, will mostly get home again at 10pm), but I copy/pasted most of it (with a link to original source in the jsdoc) and its works like a charm.
I use it to normalize input on indexes creation, and to normalize given 'input' on user search.

[2017-05-30 16:41] meltuhamy opened #271 "How to escape a special character?"
e.g. Is it possible to search for the character '^' using the search method? I do not want it to be interpreted as a search modifier (boost).

[2017-05-30 16:53] olivernn commented on #270
On my machine that search eventually completes after 12 seconds, something is clearly not right though.

The test data looks fairly pathological. Out of interest, how did you discover it?

My guess is that the leading wildcard is causing _many_ iterations through the graph that represents the token, I'll need to take a closer look with a debugger to see where its getting stuck though.

[2017-05-30 16:56] olivernn commented on #271
At the moment the search string does not provide support for escaping characters. This is something that I want to add at some point.

In the mean time you can use [`lunr.Index#query`](https://lunrjs.com/docs/lunr.Index.html#query) directly to perform a search with a '^' character:

[code]

[2017-05-30 16:59] meltuhamy commented on #270
I'm using wildcards to allow substring searches. If there are a lot of repeated items in the result, it will take longer and longer to perform the search. For now, I'm using my own pipeline function to expand all tokens into their substrings so the user never needs to use a wildcard character (I'm using lunr in the context of a loose auto complete search scenario).

[2017-05-30 17:01] meltuhamy commented on #271
Thanks @olivernn , I actually looked at that before but then I was stuck trying to get the best of both worlds, e.g. `title:n^2`. Any ideas as to how I can do this?

[2017-05-30 17:14] olivernn commented on #271
Everything that is possible with a search string is possible with the `lunr.Index#query` method, `lunr.Index#search` is implemented on top of it.

[code]

The [documentation](https://lunrjs.com/docs/lunr.Query.html) shows how to add fields, boosts etc.

[2017-05-30 17:31] olivernn commented on #270
Searches with leading wildcards are considerably more expensive, that said, I wouldn't expect it to take _this_ long. I'll have a look through the [relevant code](https://github.com/olivernn/lunr.js/blob/master/lib/token_set.js#L355-L426) but its a bit involved and I wrote it over a year ago now.

Perhaps there is a better way of implementing what you are trying to achieve though, can you give an

[2017-05-31 08:38] meltuhamy commented on #270
I'm doing a search auto complete feature where it finds all documents which have a substring of the search term. e.g.

the words

[code]

and the search term `d`

should get the results

[code]

because `d` is a substring of the two reuslts.

To begin with, I was able to achieve this using the wildcard method (i.e. search for `*d*`) but found the issue above and performance problems.

I'm open to

[2017-05-31 09:46] meltuhamy commented on #271
great, thanks @olivernn . Do you know how I can escape the wildcard `*` character? `q.term('*')` does a wildcard search...

[2017-05-31 09:57] olivernn commented on #271
Its not possible to escape the wildcard character at the moment, and I think it'll be a bit tricky to implement. I'll think about the best way to do so when implementing escape sequences in the search string, but "*" has special meaning in a number of places that might be harder to sidestep.

[2017-05-31 14:19] meltuhamy commented on #263
2.1 boosting worked for me too. No luck with 2.0.4

[2017-05-31 14:59] meltuhamy commented on #264
I like the `q.terms` approach. @olivernn what are your thoughts?

[2017-06-01 09:22] misterdai opened #272 "Lunr load and search only"
Would it be feasible for the project to produce a build that only contained the minimal JS required for loading of a pre-built index and searching only?  For my own use, I'm generating a static site and building the index once before deployment, so it'd be nice to have an even slimmer library to use in the browser where no index creation knowledge is required.

Or, point me in the right direction

[2017-06-01 13:00] khaledosman opened #273 "Partial matching doesn't work after certain number of digits.."
I was able to reproduce this on the demo page
1) go to https://olivernn.github.io/moonwalkers/
2) search for experi* -> finds results
3) search for experim* or experime* or experimen* or experiment* -> doesn't find any results.

Sidenote: Is there any reason why experiment* doesn't work, but experiment does? that means I usually have to hack it in code to pass two search words, one with the wild c

[2017-06-02 16:07] alex-at-oclc commented on #259
Following this API change, it wasn't clear to me how to asynchronously walk a tree of docs and add them to the index without loading them all in to memory up-front - it seems more geared towards building the index in a synchronous block. I'm not sure whether there is a better approach, but my solution was just to unpick the lunr() function, including here in case this helps anyone:

[code]

[2017-06-03 12:04] olivernn commented on #272
It might be possible in the future. The current build system is a little basic, its basically just `cat lib/*.js | uglify`. I want to switch to using something like rollup.js which might also help with producing a 'client' only build.

That said, I'm not sure the size difference would be that large. The only class not used after the index is build is `lunr.Builder`, i.e. you might save a couple of

[2017-06-03 12:33] olivernn commented on #273
This is because the terms in the index are stemmed, so there is no token "experiment" in the index, instead it is stemmed to "experi", you can test this with `idx.pipeline.runString("experiment")`.

When you search for a token without a wildcard, the search term is also stemmed, so for "experiment" there will still be a match as it is stemmed to the same token. When the search term includes a wild

[2017-06-03 12:35] olivernn commented on #270
If you have a solution that is working then thats great. I'll still spend a bit of time trying to understand the particular case you originally posted, perhaps there is some optimisation or bug causing the long run time.

[2017-06-03 12:44] olivernn commented on #259
@alex-at-oclc that is a perfectly valid solution, the `lunr()` function is just a convenience for quickly setting up indexes. As you've seen the [`lunr.Builder`](https://lunrjs.com/docs/lunr.Builder.html) class is the main thing responsible for doing the hard work of building an index and it is perfectly acceptable to interact with it manually.

[2017-06-04 17:31] olivernn commented on #263
I've just pushed a new alpha version (2.1.0-alpha.2) which has some further improvements for field based boosting, results should be better where a term is boosted in one field, but not another.

If everything seems fine I'm hoping to publish a non-alpha in the next couple of days.

[2017-06-04 17:53] olivernn commented on #271
The latest alpha (2.1.0-alpha.2) includes support for escape query characters, e.g "12\:00pm" will do a search for "12:00pm" rather than complain about a missing field called "12".

This does not include support for escaping asterisks "*", that requires some more fundamental changes that I'm not inclined to work on, yet.

As ever, try it out and let me know any feedback.

[2017-06-05 08:24] meltuhamy commented on #270
Yes it seems that is quite a nasty bug that is preventing me from using wildcards. Thanks for your help!

[2017-06-05 14:02] karland opened #274 "Entering "~" as search string breaks lunr."
Searching only for `"~"` breaks lunr.js with the following error message:

"QueryParseError: expected either a field or a term, found EDIT_DISTANCE with value '1'"

I know, that `"~"` is used to indicate fuzzy search, but a user does not know this, if he enters `"~"` into a search input field.

[2017-06-05 19:35] olivernn commented on #274
I'm not sure what more Lunr can do here. The string "~" is an invalid query string. Lunr reports this by throwing a specific exception, `lunr.QueryParseError`, provides an explanation and indicates where the offending part of the query is.

It is up to the application to use this information to present the user with an appropriate response to the invalid query. If there is information that Lunr _i

[2017-06-06 12:41] meltuhamy opened #275 "Not working with special characters"
Lunr doesn't seem to work with special characters. Here are some examples

https://jsfiddle.net/00y9o4b7/2/
[code]

[2017-06-06 13:24] karland commented on #274
@olivernn Thank you for your fast response. I do not take this for granted.

I am also not sure what the best strategy is. Here are my thoughts:

+ If Lunr is throwing exceptions which need to be handled by the app that is using Lunr, it should be clearly documented and in the example. Neither in the docs nor in the example nor in any tutorials have I seen that the integration of Lunr requires mor

[2017-06-06 14:37] olivernn commented on #274
To be fair the documentation does mention that the [`lunr.Index#search`](https://lunrjs.com/docs/lunr.Index.html#search) method throws a `lunr.QueryParseError` if the query string cannot be parsed. In addition the [demo code](https://github.com/olivernn/moonwalkers/blob/master/src/main.js#L93-L102) _does_ handle the error, which is why it is displayed when performing the search you mention.

On yo

[2017-06-06 15:07] karland commented on #274
Thanks again for the quick response. Indeed, I have not seen the two source you provided, which is certainly my fault, but on the other hand maybe they are not so obvious to spot. Maybe a short section in Guides with a header such as "Integration into an app" would have been helpful.

I actually agree with what you are saying. The only point I had was that I did not catch the exception because I o

[2017-06-06 15:20] olivernn commented on #275
There are a couple of things at play here, I'll try and explain each one...

1. "(bracket)" [`lunr.trimmer`](https://github.com/olivernn/lunr.js/blob/master/lib/trimmer.js) is by default present in the indexing pipeline and will remove any leading and trailing non word characters. So you should be able to see that "bracket" is in the index and searchable.

2. "why?" is affected by both the `lunr.t

[2017-06-06 15:23] olivernn commented on #274
No problem, I'll see if I can make this more obvious in the site or the guides etc.

If you run into any other problems, or have any other questions please let me know.

Thanks.

[2017-06-06 15:23] #274 closed

[2017-06-06 17:23] chriskarkowsky commented on #263
I am having some good luck with the newer alpha build.  I might need to change my data structure a bit based on my issue here with array data: https://github.com/olivernn/lunr.js/issues/266, but it shouldn't be too big of an issue.

Thank you!

[2017-06-10 01:45] drzraf commented on #190
I'm having the `Overwriting existing registered function: stopWordFilter` message, triggered by `stop_word_filter.js`
(open their /weixsong/elasticlunr.js#57 in case it'd be specific to elasticlunr.js)
The point is that `stop_word_filter.js` contains lunr.generateStopWordFilter which is generic and useful (for lunr-languages), but also registerFunction too (which is not always necessary).

[2017-06-11 09:10] olivernn commented on #190
@drzraf What version of lunr are you using? Or are you using elasticlunr?

Registering a pipeline function is necessary for serialising indexes. With Lunr the only way you could get the warning about overwriting an existing registered function is if you are requiring that file twice, or if you have already registered a different pipeline function with the same name. Both of these cases seem to be

[2017-06-11 10:44] pkpowell opened #276 "plurals and words ending in double-el"
When  I search for a term that's indexed by its plural, i.e. "carols", I get no hits. Searching for "carol" or "carol*" works perfectly, but "carols", "carols*" or "*carols*" comes up empty.
Another example would be "Schwitters". A search for "schwitter" gets a hit, but "schwitters" doesn't.

I have a similar problem where searching for "powell" yields no results, but "powel" works as expected.

I

[2017-06-11 15:33] olivernn commented on #271
I've just published 2.1.0 which includes support for escaping special characters.

[2017-06-11 15:33] #271 closed

[2017-06-11 15:35] olivernn commented on #263
I've just pushed 2.1.0 with the changes discussed to improve boosting and field based search.

[2017-06-11 15:35] #263 closed

[2017-06-11 15:36] olivernn commented on #275
Closing this as I don't think there is anything more to do, feel free to re-open or comment if you disagree.

[2017-06-11 15:36] #275 closed

[2017-06-11 15:37] olivernn commented on #273
I'm going to close this issue now as I don't think there is anything more to be done, feel free to re-open or add a comment if you disagree or have any other questions.

[2017-06-11 15:37] #273 closed

[2017-06-12 10:50] pkpowell commented on #276
I added
[code]
to the indexing function and the searches are now much better.
Is it possible to remove these per field, i.e. remove them from "title" and "description" but keep them in the other fields?

[2017-06-12 17:05] olivernn commented on #276
You can certainly remove both the stemmer and the stop word filter, but is that what you want?

What you describe sounds exactly like the problem stemming is supposed to fix. For example "carols" will actually be indexed as "carol", if stemming is enabled. Stemming is also applied to search terms, so you should get a match if you search for either "carol" or "carols", or anything else that stems t

[2017-06-13 11:28] pkpowell commented on #276
no, but it’s making my searches better atm. :-)

here’s a jsfiddle - the relevant functions are `initLunr`and `search` (with some data at the top. Some of the code is based off a demo I found somewhere - can't remember where).

https://jsfiddle.net/pkpowell/qum9Lb8o

The situation remains the same. A wildcard search for carols* or duos* returns no results unless I add
[code]
then it seems to work

[2017-06-13 18:23] olivernn commented on #276
First off, that fiddle works for me on Safari 10.1.

So, it looks like you are trying to implement a typeahead style search. By manually appending the wildcard to the term, lets say "carols*", you are searching for everything that begins with "carols" and then has some other characters after it. In addition you are not disabling the pipeline, so lunr is trying to trim and stem "carols*" with the w

[2017-06-14 10:16] pkpowell commented on #276
Ah, that's much better!

I still get the error message in Safari (10.1) if the search string is less than 3 chars, the fiddle complains at 0 chars.
[code]
I'll clean out all the crud in my code first and report back any findings.
Thanks very much for your help.

[2017-06-14 12:20] olivernn commented on #276
I'm glad that is working better for you. A number of people have had the same question so I think there is an opportunity to improve the docs/guides, I'll keep this issue open to remind me to do that.

As for the issue in Safari, if you manage to come up with a reduced test case, please open a new issue.

[2017-06-17 00:14] danjarvis commented on #264
I was able to achieve a hacky AND implementation by inspecting the metadata of the results before returning them back to the user:

[code]
This is a trimmed down version of the actual implementation I am using. You can always take into account whether or not one of terms is contained within the `invertedIndex` and/or verify that the matched metadata terms are the same as the original search terms

[2017-06-18 16:36] stargazer33 commented on #272
And I need exactly the same - pre-built index on the backend, search in this index on the frontend.
What would be great - to **build the index using Java!**
In my case - I already have the index in my Java program: this is a Lucene index (with all the stuff like synonyms, stemming, stopwords etc). How can I convert it into a format compatible with Lunr.js ?

[2017-06-18 18:14] olivernn commented on #272
@stargazer33 this is something that I'm very interested in pursuing, having Lunr as a front end to an index built by something else. Either because the backend can be more capable (i.e. Lucene) or for easier integration into other tools that can't or won't shell out to some Javascript build process.

I've been working on defining the schema required for a serialised index, I've got a rough version

[2017-06-18 19:28] stargazer33 commented on #272
Oliver, definitely!

[2017-06-19 18:16] olivernn commented on #272
@stargazer33 I've just pushed my work in progress here - https://github.com/olivernn/lunr-schema

I *think* it's best to open a new issue to discuss a backend in another language (Java with Lucene), either in this repository or that repository.

As I say, its just a rough draft at the moment, but hopefully it is a good starting point.

[2017-06-21 15:13] nkuehn commented on #268
PS on the topic:  I ran across a bigger analysis the Uber engineering team did a while ago:  https://eng.uber.com/trip-data-squeeze/    Probably a comparable data set (trip logs, i.e. a relatively repeating structure).

TL;DR:  you can get 20% down even after compression with a schema-free but optimized format like CBOR or messagepack.
"Real" savings are possible only by switching to a schema-free

[2017-06-27 07:51] Prinzhorn commented on #85
I found that the size of the JSON is not the issue but rather the *depth* that causes the call stack size to exceed. In my case I had a few _very_ long words that were indexed. It was caused by blindly using `$('body').text()`, which does not add a white space between the text nodes and can cause very long "words" which do not get tokenized. These result in a very deeply nested object.

I went wit

[2017-06-27 08:49] mlukasch commented on #264
Would be really great to get this feature. Tried out elasticlunr. But this has no wildcards.

[2017-06-28 03:17] demohi opened #278 "Can't support non-English search"
version: 2.1.0

[2017-06-28 03:34] demohi commented on #278
https://github.com/MihaiValentin/lunr-languages

[2017-06-28 03:34] #278 closed

[2017-06-28 20:27] wdiego commented on #62
Hey @olivernn, I couldn't find the "exact phrase matching" support that you told in Lunr guides. Can you show me where I can find this in the guide?

[2017-06-30 06:41] olivernn commented on #62
@wdiego ah, now that I re-read the this issue, I see that I was confused. I must've though this issue was about exact _term_ matching, which is now supported. Phrase matching, i.e. "foo bar" is not currently supported, sorry to mislead.

[2017-06-30 21:27] imaustink opened #279 "Lunr throws in Safari sometimes when calling the query method"
When calling the `.query` method with certain search terms in Safari, the following error is thrown:
[code]
The problem is [here](https://github.com/olivernn/lunr.js/blob/master/lunr.js#L1809). Adding an check for `posting` solves the problem but I am almost certain this is a sign of a larger problem and this should be fixed upstream.

[2017-07-03 14:37] chasenlehara commented on #279
@olivernn, I work with @imaustink and we’d like to contribute to get this bug fixed, but I’m not sure where to start in determining why either the `invertedIndex` wouldn’t have the `expandedTerm` for the query, or why a bad `expandedTerm` would be generated.

Our project is open source and we are happy to provide any info that’s useful, or if you can point us in the right direction we will happily

[2017-07-03 16:48] chasenlehara commented on #279
We’re using a fork with [this commit](https://github.com/bit-docs/lunr.js/commit/edcdc14c82723305ddaba88e88281c7ae7914de4) (reference above) until we can figure out the root issue.

[2017-07-03 17:18] olivernn commented on #279
@imaustink @chasenlehara thanks for taking the time to help with this issue, its a real help!

I think the first step is to get a reduced test case. Without that its going to be really tricky to track this down. Even a non-reduced test case would be a start.

From the looks of it, it seems the bug is being triggered by some specific combination of query and document content. Why this would only ha

[2017-07-03 17:21] olivernn commented on #85
Three years later there is a major new version of Lunr, 2.x, which has a much simpler serialised structure. [Upgrading](https://lunrjs.com/guides/upgrading.html) to this latest version should _hopefully_ alleviate any issues with trying to serialise the large, deeply nested, data structure that Lunr 0.x and 1.x have.

[2017-07-03 17:28] chasenlehara commented on #279
What does the ideal reduced test case look like? A sample project that has data, sets up indexing and querying, and reproduces the exception? Or should we look into modifying any of the [current tests](https://github.com/olivernn/lunr.js/tree/master/test)?

[2017-07-03 17:34] olivernn commented on #279
In the past people have put together reproductions with jsfiddle. The ideal would be having an index with a single document and a query that triggers the bug.

An example fiddle for some inspiration - https://jsfiddle.net/of54k0uk/14/

[2017-07-05 21:49] petebacondarwin opened #280 "`termFrequencies` hash does not support "special" terms such as `constructor`"
I think this hash lookup is being created as `{}` but should be created as `Objecte.create(null)` to ensure that the object has no unwanted prototype properties.

[2017-07-05 21:51] petebacondarwin commented on #280
In particular this line here: https://github.com/olivernn/lunr.js/blob/789aa68c375278e38127451da6a2699f98fc5a3c/lib/builder.js#L128

But in general all usage of `{}` for hashes that might have user defined keys should be using `Object.create(null);`

[2017-07-06 07:12] petebacondarwin commented on #280
It seems that this was partially addressed in https://github.com/olivernn/lunr.js/commit/d624a2c25a5884cb4c0a5c36b4df361bfd58ae05 but it did not fix the `termsFrequencies` hash.

[2017-07-06 10:32] #280 closed

[2017-07-06 17:23] i80and opened #282 "lunr.Index.invertedIndex grows exponentially in size after each query"
I'm using lunr 2.1.0 with the following plugin:

[code]

I'm using this positional data to implement phrase search. All is well and fine, except that `lunr.Index.intertedIndex[term][field]['pos']` grows in size after each query (by a factor of four in my testing, but that might be query dependent; I'm not sure).

This appears to be because ``MatchData.combine`` is mutating the InvertedIndex metada

[2017-07-06 17:27] olivernn commented on #280
I've just pushed version 2.1.1 which includes your fix for this issue, thanks again for taking the time to report, and fix, the bug!

[2017-07-06 17:33] petebacondarwin commented on #280
Great!

On Thu, 6 Jul 2017, 18:27 Oliver Nightingale, <notifications@github.com>
wrote:

[2017-07-06 17:38] olivernn commented on #282
That doesn't sound good! I'll have a look at re-creating this and then providing a patch.

Also, as an aside, pipeline functions are called with three arguments, one of which is the index of the token within the document/field being searched, e.g. you can just do the following in your pipeline function:

[code]

This is [documented](https://github.com/olivernn/lunr.js/blob/master/lib/pipeline.js#L

[2017-07-06 18:15] i80and commented on #282
I can put together a minimal proof if you have trouble reproducing this issue.

And thanks for the advice! :D I really do love this library; I've been using it for a number of projects over the past couple of years, and it's always delivered.

[2017-07-07 03:03] alexivkin opened #283 "Minified lunr still at 2.1.0"
lunr.min.js is still 2.1.0 in the v2.1.1 npm distro and on cdns - https://cdnjs.cloudflare.com/ajax/libs/lunr.js/2.1.1/lunr.min.js

[2017-07-09 09:25] olivernn commented on #282
If you wouldn't mind trying to put together a reproduction, I tried to re-create it [here](https://jsfiddle.net/fkz51use/3/) but not getting the behaviour you mention.

I can see where in the code this would be possible, I just can't trigger it at the moment.

[2017-07-09 15:13] i80and commented on #282
It looks like it only triggers when using multiple identical terms in a query. I'm using this for fuzzy-searching as you described here: https://github.com/olivernn/lunr.js/issues/276#issuecomment-308205156

https://github.com/i80and/lunr-bug-reproduction

[code]

[2017-07-09 18:44] olivernn commented on #282
Ah right, got it now. Thanks for putting together the reproduction, it'll be a big help in coming up with a better way combining the matched metadata.

[2017-07-09 19:07] olivernn commented on #282
Ok, I think there is a reasonably simple fix for this. The metadata held in the inverted index is [always an array](https://github.com/olivernn/lunr.js/blob/master/lib/builder.js#L171-L175), this makes cloning the data, to prevent mutation, more straightforward.

While I'm here though I want to take a closer look into the `lunr.MatchData` object, I have the feeling it can be tidied up a bit.

[2017-07-09 19:41] olivernn commented on #282
I've just released a fix for this issue in version 2.1.2, let me know if it solves the issues you were seeing.

[2017-07-10 16:39] i80and commented on #282
It does fix the issue!

However, I do have a concern. Take this for what it is, and obviously feel free to just consider this acceptable loss, but v2.1.2 comes with a hefty performance drop due to the deep copies. Specifically, I get the following performance numbers for a simple test of 1,000 queries:

Version | Seconds
--------|---------
https://github.com/olivernn/lunr.js#v2.1.2 | 19.1s
https:/

[2017-07-10 16:52] olivernn commented on #282
Sigh, yeah, I had a feeling there would be a bit of a hit in performance. I think in general there is some time to be saved around the whole metadata and match data stuff.

The problem with using `Object.assign` is purely one of compatibility, Lunr currently works anywhere that supports ES5. For later releases (3.x) that might be relaxed, but at the moment I think its still a reasonable baseline.

[2017-07-10 16:52] #282 closed

[2017-07-11 13:00] ncphillips opened #284 "Feature Request: Reintroduce add/update without breaking immutability"
I'm a little annoyed at the assumption that lunr is only being used for static content, as we have quite the opposite situation. We're using lunr to provide search on a list that might grow, shrink, or have it's items modified at any time.

I was looking forward to updating to version 2 but this change completely breaks our use case. My current workaround is to completely rebuild the entire index

[2017-07-12 16:36] olivernn commented on #284
I'm sorry that the move to immutable indexes has annoyed you.

Out of interest, which features added in version 2 were you looking forward to using?

Lunr 1.x is still available and supported, i.e. bugs _will_ be fixed if they are reported. I'm not planning on adding any major features there, mostly because that architecture has been pushed as far as possible from what I can see, though pull reque

[2017-07-12 20:07] Zujiry opened #285 "Integration to Jekyll"
Hello,

there might be a better platform to ask this but I have a question concerning the integration of lunr.js to Jekyll on github pages.

Everything works fine when I go over the posts via Json but if I do the same for pages:

{% for page in site.pages %}
    "{{ page.url | slugify }}":  {
      "title": "{{ page.title | xml_escape }}",
      "content"  : "{{page.content | strip_html | strip_ne

[2017-07-13 02:27] ncphillips commented on #284
Very interesting. I might have to do some benchmarking to see what the performance effect would be for our use case. Primarily I'm wondering if the cost of having to completely re-build the index every time there is an update to the dataset would offset the benefit of the improvements around size and speed.

On that note, if you are planning to continue supporting 1.x then I am not quite as worrie

[2017-07-13 09:50] altmail commented on #279
Hello, if it can help, it's not only with safari, I reproduce the error in react native / android too.

`
searchMerchant(keywords)
{

    //let found = this.idx.search(keywords)
    if (keywords == '') return {}
    let listkeywords = keywords.split(' ')
    let found = this.idx.query(function (q) {
        q.term(keywords, { usePipeline: true, boost: 30 })

        listkeywords.forEach(function (

[2017-07-13 18:44] olivernn commented on #285
There is a [plugin](https://github.com/slashdotdash/jekyll-lunr-js-search) for Jekyll for Lunr, it might help you with what you are doing.

What does this mean? Is there an error? What is the error?

Also what version of Lunr are you using?

[2017-07-13 18:47] olivernn commented on #284
Do the benchmarking, having data to base the decision on will help. I would imagine that re-building the entire index every time there is new data to add would be quite expensive though. If you can arrange to do that in a web worker it might not be too bad, but its still not ideal.

Yes, 1.x will be receiving bug fixes for the foreseeable future.

I'm going to close this now, because, in the short

[2017-07-13 18:50] olivernn commented on #279
@Julinar interesting, so you're workaround was to prevent empty searches? Was this what was causing the issue.

As I mentioned earlier in the issue, without more details to go on, specifically a simple reproduction, its very difficult for me to try and provide a fix. If you can put together a simple test case that shows the issue I can get to fixing it straight away.

[2017-07-13 19:45] Zujiry commented on #285
Hey! Thanks for answering
The plugin does not work well with github pages so that is why I wanted to try a different approach.

I followed this [link](http://rayhightower.com/blog/2016/01/04/how-to-make-lunrjs-jekyll-work-together/) to implement the search through a json file through which can be searched. And in the Gotchas there was the trick to simply add the code above, but! it broke the synta

[2017-07-24 22:16] tehandyb commented on #273
Hey I've tried to use the query api like you mentioned, adding a wildcard and setting usePipeline to false but I'm finding that when I search it still uses the stemmer. Maybe I'm not understanding correctly.
My example: The search input is 'competitiv*', and I can see the invertedIndex has the stem 'competit', and the document itself has the word 'competitiveness' in it.

[2017-07-25 14:10] coliff opened #286 "Searching for words prepended with underscores doesn't work"
My documents include many class names such `Msg_IDT_ZOOM`
- If I search for `Msg` I get results ✔️
- If I search for `Msg_IDT_` I get results ✔️
- If I search for `IDT` I get no results ❌
- If I search for `ZOOM` I get no results ❌

I'd like users to be able to search for `IDT` and `ZOOM` so that it shows `Msg_IDT_ZOOM` in the results - how can I do this?
I'm using Lunr.js through the mkdocs-mater

[2017-07-25 17:33] olivernn commented on #286
This is caused by what lunr considers to be a separator, by default an underscore is _not_ considered a separator.

This is easy to change, as described in this [fiddle](https://jsfiddle.net/a5L483aj/).

I'm not at all familiar with that mkdocs theme, so I'm not sure how you would make these changes in that context, perhaps open an issue on that project?

[2017-07-26 09:55] coliff commented on #286
Thanks so much for taking the time to reply with the explaination and code example. I'm not really much of a JavaScript coder but I dug in to the JavaScript code for the MkDocs theme and replaced:
`tokenizer.separator=/[\s\-]` with `tokenizer.separator=/[\s\-\_]` and it worked! 👍

[2017-07-26 10:33] olivernn commented on #286
Nice, glad its working for you!

[2017-07-26 10:33] #286 closed

[2017-07-28 11:01] hungerburg opened #287 "Using invertedIndex for autocomplete"
Not so much an issue with lunr, which is great! More a quick try to get ideas going…

In a shell with the jq utility I pull my terms from the lunr index in advance:
`jq '[.index.invertedIndex[][0]|scan("^\\w{3,}")]|unique' index.json > iindex.json`
I can feed that to http://api.jqueryui.com/autocomplete/ widget like below
[code]
Not fully nice, but works acceptably so far. Now truly nice would be

[2017-07-28 16:23] nikolas commented on #264
Replying to @olivernn's comment here: https://github.com/olivernn/lunr.js/issues/261#issuecomment-301300925

I can imagine the query interface working something like this:

[code]

This is similar to how elasticlunr.js defines boolean behavior between fields: http://elasticlunr.com/example/index.html

So, now I'm digging into the `index#query()` method to see how this can be implemented.

[2017-08-01 09:26] Bokkeman commented on #246
FYI I experienced this same Safari throw while loading a large precomputed lunr search index in v0.6.0 as reported [here](https://stackoverflow.com/a/33257898/321305) and had to resort to loading and indexing the search data on every page load.
I'm interested to see if the newer versions solve this

[2017-08-02 07:41] shamrin commented on #70
Correction to the above comment: Lunr **does** support fuzzy matching.

[2017-08-02 07:54] shamrin opened #288 "Mention lunr-languages in README and docs"
It looks like [lunr-languages](https://github.com/MihaiValentin/lunr-languages) is [*the* way][2] to index non-Engish content witn Lunr.js.

Unfortunately it was not easy to figure it out. And there are distractions: [lunr.ru.js repo][3], #16, #42.

It would be very helpful if the README file and documentation would mention and recommend lunr-languages for non-English search.

(By the way, is ther

[2017-08-03 15:03] benpolinsky commented on #257
Thanks for the library, very much :)

I'd just like to echo the thoughts in this thread that it would be nice to have the documentation mention whitelisting, especially for the position.

[2017-08-07 20:01] olivernn commented on #257
@benpolinsky good point, I've pushed an edit to the guides that mentions this

[2017-08-07 20:01] #257 closed

[2017-08-07 20:02] olivernn commented on #288
Good point, I've been meaning to do this for a while now, just haven't got round to it.

I've put together a [PR](https://github.com/olivernn/lunr-site/pull/2) with a guide on using lunr-languages, please check it out and let me know if there is anything else that would be useful to have.

[2017-08-07 20:13] olivernn commented on #287
Sorry for the late reply.

You could definitely wrap that normalise function up into a [lunr plugin](https://lunrjs.com/guides/customising.html#plugins). There is a similar project, [lunr-unicode-normalizer](https://github.com/cvan/lunr-unicode-normalizer), but I don't think it has been updated for lunr 2.

As for autocomplete, I need to get round to actually putting a demo of this together, but t

[2017-08-08 07:28] shamrin commented on #288
@olivernn thank you! I've made a couple of comments to the PR.

[2017-08-09 08:29] olivernn commented on #288
Deployed, it might take a few hours for the changes to propagate.

[2017-08-09 08:29] #288 closed

[2017-08-10 01:04] myalgo opened #289 "Searching multiple terms on multiple fields with different boost using Index.query"
I would like to know to write the search query efficiently for searching multiple terms on multiple fields with different boost

I have set of fields

- title with boost 10
- heading with boost 5
- text with boost 3
- keywords with boost 6

and would like to search "foo bar" or "foo bar*"

Since build time boost is not supported in 2.1.2, I am using query time boost.
However would like to use to s

[2017-08-10 11:31] jakeapeters commented on #289
You could use something like this (tested in `2.1.0`):

[code]

You can add `usePipeline: false`, `editDistance: ...` etc. as normal inside there. We're using something similar in production.

[2017-08-11 06:42] 928PJY commented on #62
Hi @olivernn So any plan to support **Phrase matching**?

[2017-08-11 09:41] olivernn commented on #289
What @jakeapeters has looks good, one thing to be careful of though is that the `query` string passed to `q.term` will not be split into multiple tokens by lunr. I.e. if `query` is the string "foo bar" it will search for "foo bar" _not_ "foo", "bar", with the default index builder this will mean you won't get any results.

You can borrow Lunr's [tokenizer](https://lunrjs.com/docs/lunr.html#.tokeni

[2017-08-11 19:59] myalgo commented on #289
thanks @jakeapeters  and @olivernn.

[2017-08-11 20:02] myalgo opened #290 "Score range"
I would like to show relevance of search results. However not sure the range of score returned. I have seen score ranges from approx 0.001x to 3.x.

[2017-08-11 21:08] myalgo commented on #289
@olivernn , do you plan to support build time boost?

[2017-08-14 18:05] nikolas commented on #266
To anyone else encountering this: I've solved this tag search issue by removing non-alphanumeric characters from tags: https://github.com/ccnmtl/digitaltibet/pull/57/files#diff-fa04d769d436c8b53acc38c2d9866efcR193

[2017-08-14 23:31] bobby-brennan opened #291 "Boost a document?"
I have certain documents I want to boost over others (e.g. "blog post" pages should be slightly preferred over "user" pages).  Is there any way to do this currently? If not, is it a viable feature?

Great library by the way, it's been a big help.

Thanks,
-Bobby

[2017-08-15 19:28] olivernn commented on #289
@myalgo please open a new issue requesting build time boost.

I'm going to close this issue now as I think the original problem is solved.

[2017-08-15 19:28] #289 closed

[2017-08-15 19:36] olivernn commented on #290
The score returned probably isn't useful for anything other than sorting. I.e. you won't be able to use it to say a document is 83% relevant to a query.

Lunr treats documents and queries as many dimensional vectors, and then uses a technique based on [cosine similarity](https://en.wikipedia.org/wiki/Cosine_similarity) to calculate how similar the vectors are. From the linked article you would ima

[2017-08-15 19:36] #290 closed

[2017-08-15 19:38] #285 closed

[2017-08-15 19:44] olivernn commented on #291
I don't think this is something that can be done currently with Lunr. Scores are always based on how 'similar' the query is to a document.

I think ~~the best~~ a way would be to layer this kind of boost or score modification on top of the Lunr results. With the id returned by Lunr for the matching documents, you could lookup the 'type' of document (either blog post, or user page) and then apply a

[2017-08-15 19:49] olivernn commented on #265
Closing this now, please feel free to re-open or cut a new issue if you have more details, or any other problems.

[2017-08-15 19:49] #265 closed

[2017-08-15 19:55] olivernn commented on #62
@928PJY I want to support it, I just don't know _how_ to implement it in an efficient way yet. I'll re-open this issue.

[2017-08-15 20:03] olivernn commented on #287
@hungerburg glad you managed to make some progress. Indeed the stemming does make implementing really good autocomplete difficult.

Just thinking aloud, but you _can_ get Lunr to create and store the mapping to the unstemmed words, though it will likely increase the index size considerably.

During indexing you can add a pipeline function that stores the unstemmed words as metadata for a token. Th

[2017-08-16 02:13] 928PJY commented on #62
OK! Thank you @olivernn, if I have any idea, I will let you know!

[2017-08-29 13:35] kchiragowni commented on #241
Hi @gnomeontherun,

Have you got an example or know docs website on how to implement Lunr.js search in Angular 2/4

Thanks

[2017-08-29 14:39] kchiragowni opened #292 "Usage documentation for Angular 2/4"
Hello,

I wanted to know if anybody have implemented lunr.js library in Angular 2/4 app. If yes can you provide some information on usage documention.

Many thanks

[2017-08-29 18:10] olivernn commented on #292
I don't know Angular, so I can't offer any advice here. You might want to try a question on StackOverflow, there is a [lunr tag](https://stackoverflow.com/questions/tagged/lunrjs) as well as the [angular tag](https://stackoverflow.com/questions/tagged/angular), you might get some more responses there, plus internet points!

[2017-08-29 19:45] gnomeontherun commented on #241
@kchiragowni There is nothing special to do to implement it with Angular 2+. Lunr is available on the global window, so you just access it there.

[2017-08-30 03:14] seantanly commented on #241
It seems that the typings at https://www.npmjs.com/package/@types/lunr is quite outdated. For example for lunr v2.1, the index is immutable, but the typings provided still defines the mutation functions such as add/remove on the index.

[2017-08-30 05:59] seantanly commented on #241
@olivernn `axios` is one successful library that maintains the typings within its project. The typings are declared in `index.d.ts` at root and declared in `package.json` as `"typings": "./index.d.ts"`.

https://github.com/mzabriskie/axios

With that its typescript users enjoy the benefits which @ncphillips has mentioned, not having to manually add typings from @types (DefinitelyTyped) and sometim

[2017-08-30 07:25] olivernn commented on #292
I just saw this [article](https://medium.com/codedotgov/a-solar-eclipse-and-the-story-of-adding-a-lunr-js-powered-search-to-code-gov-66c58078e726) which has some steps on getting a lunr index set up with Angular 2, might be useful.

[2017-08-30 09:02] seantanly opened #293 "Mark Builder.build() as public API to support custom Index creation"
I have a large number of documents that is pulled async from local storage that needs to be indexed for search. While building lunr.Index, I would like to pull the documents out by smaller chunks instead of everything into memory to make use of the convenience index creation function `lunr`.

With the removal of mutable index, and the function `lunr`being synchronous, I would need to `Builder.buil

[2017-08-30 09:35] olivernn commented on #293
I'm not sure why that method is marked as private, I can't think of any reason why it should be. Perhaps I was trying to protect people from calling `build` within the function passed to the `lunr` convenience helper?

PR's welcome btw 😉

[2017-08-30 10:41] kchiragowni commented on #292
Thanks @olivernn I will look into it.

[2017-08-30 19:47] olivernn commented on #293
I've merged your changes and pushed a new release 2.1.3.

Thanks for taking the time to open the issue and send the PR!

[2017-08-30 19:47] #293 closed

[2017-08-31 04:11] seantanly commented on #293
Thanks for making the new release! It will be perfect when the JSDoc for Builder gets updated. :)

https://lunrjs.com/docs/lunr.Builder.html

[2017-08-31 07:04] olivernn commented on #293
Was likely just a caching issue, I'm pretty sure the docs are re-built and published by travis after a build on master. It's showing up for me now anyway, let me know if you still don't see it.

[2017-08-31 11:57] seantanly commented on #293
You're right, force refreshing my browser shows the latest version. 👍

[2017-08-31 20:29] imaustink commented on #279
@chasenlehara and I were able to create a reduced test case. Open this [jsfiddle](https://jsfiddle.net/0bseofjq/11/) in Safari and you will see the error. I hope this helps.

[2017-09-01 03:20] gsavin opened #295 "Matching results disappear when expending the term"
Hi Oliver,

I am working with lunr since a couple of week (which I have to say is awesome in term of easy to use, and features). I am having a strange behavior who seems to be similar to something already described in this issue #68

I have entries some containing `phone`, others containing `iphone`. If I search for `phon`, both `phone` and `iphone` entries are returned. If I search for `phone`, o

[2017-09-01 06:59] olivernn commented on #279
@imaustink thanks, that is super useful!

I've only had a very quick look, but certainly something strange is happening! You are searching for `"can*"`, and when I pause the debugger on the thrown exception I see that Lunr has somehow expanded that into "c a n - c enta", which is weird because that _definitely_ isn't in the index.

So somehow `this.tokenSet.intersect(termTokenSet).toArray()` is in

[2017-09-01 07:00] olivernn commented on #279
Hmm, where did that unicode come from? I pasted that directly from the debugger, so _maybe_ that is the cause of the weirdness....

[2017-09-01 07:33] olivernn commented on #295
I've created a [fiddle](https://jsfiddle.net/2j5d9tny/) with your reproduction, at the very least those results are not what I would expect, specifically the third one "*phone".

My guess is this is to do with [stemming](https://lunrjs.com/guides/core_concepts.html#stemming), though I'd have to do a bit more digging to be sure.

[2017-09-01 12:36] jbouzekri commented on #241
@kchiragowni  : As @gnomeontherun said, there is really nothing special to do.

If you are using angular cli :

[code]
In tsconfig.json, add :

[code]

And in your component ts file, you can do the same thing as in the lunr guide :

[code]

[2017-09-02 09:50] gsavin commented on #295
Thanks. I will try to dig in it too, but I discovered stemming just a few days ago....

[2017-09-03 08:37] myalgo opened #296 "Searching terms contain hyphen vs no hyphen"
I have strings in one of the fields which contain hyphen; for example anti-virus
If search query is  anti-virus, results returned contain terms anti and virus
If search query is antivirus, no results are returned.

Is there a way to update the pipeline (or any other function in lunr) to add antivirus also ?

[2017-09-03 10:06] olivernn commented on #279
So I've been trying to understand what is going on in Safari using the debugger, if I pause on exceptions I can see that the expanded terms that are being looked for are `["can-compon", "c a n - c enta"]`, however if I step through the `lunr.TokenSet#intersect` method the result is what I would consider the correct expanded terms: `["can-compon", "can-componenta"]`.

This might be tricky...

[2017-09-03 10:40] olivernn commented on #279
I've tried to reduce the test case some more (no doubt it can be reduced further later) and I'm very confused - https://jsfiddle.net/23fujmvf/1/

By alerting the results of the `lunr.TokenSet#intersect` the problem goes away, i.e. it seems to change the string that is being returned.

Without the alert we get something that looks like "can-centa" which looks like it has dropped the "ompon" part of

[2017-09-03 15:21] imaustink commented on #279
@olivernn, thanks for jumping on this so quickly!

I did some experimentation as well before making the test case, and I also noticed the unicode characters, and the fact that observing the string seems to fix the problem. Merely [testing the string with RegEx](https://jsfiddle.net/egLzL24L/1/) is one example of this, [comparing the string](https://jsfiddle.net/egLzL24L/4/) is another example. In

[2017-09-03 17:18] olivernn commented on #279
@imaustink no problem, its certainly an interesting case!

I'm pretty sure this is a bug in Safari, not that that helps us much, Lunr will need to work around it _somehow_ and I don't think using `alert` is going to cut it!

To be able to get any traction with a browser bug we're going to have to have a much reduced test case, ideally one that does not involve any Lunr code at all. My current theo

[2017-09-03 17:31] olivernn commented on #279
One thing you could try is to use something similar to [lunr-unicode-normalizer](https://github.com/cvan/lunr-unicode-normalizer/blob/master/lunr.unicodeNormalizer.js). That repo is not updated for Lunr 2, but the idea is the same, remove all diacritic marks. Not a fix, but might be a reasonable work around for now.

[2017-09-03 17:55] olivernn commented on #279
Okay, this is definitely an issue with unicode, I'm not sure where the issue is, but using [`String#normalize`](https://developer.mozilla.org/en/docs/Web/JavaScript/Reference/Global_Objects/String/normalize) seems to fix the problem - https://jsfiddle.net/23fujmvf/2/

I don't think `String#normalize` has good enough browser support yet to just use that in Lunr, though I could be wrong. Also, its s

[2017-09-03 19:09] abastardi commented on #284
As per the conversation on [Gitter](https://gitter.im/olivernn/lunr.js?at=59a9099f66c1c7c477032ed1), please re-open this issue.

[2017-09-03 19:14] abastardi commented on #284
You mention a smaller index, field search, and query time boosting as some advantages of the new architecture. Elasticlunr.js claims the same benefits, though it has a mutable index. What tradeoffs has Elasticlunr made to achieve this?

[2017-09-04 00:42] imaustink commented on #279
Very Interesting. `String.prototype.normalize` is supported in Safari 10 and up. What do you think about identifying Safari and normalizing if available? I don't see a reason to normalize in other browsers so support really shouldn't be a concern in my opinion. That is as long as supporting Safari 10+ is acceptable.

[2017-09-04 18:45] olivernn commented on #279
Ok, I think the problem is being caused by [`lunr.trimmer`](https://github.com/olivernn/lunr.js/blob/master/lib/trimmer.js). It tries to remove any trailing punctuation from terms before they enter the index, but it does so with a fairly naive regular expression. To be fair, it does say that its not great at non-latin characters, but its certainly not something that would be immediately obvious. B

[2017-09-04 19:09] olivernn commented on #296
This is caused by what characters Lunr considers to be word separators. It currently uses this regex [`/[\s\-]+/`](https://github.com/olivernn/lunr.js/blob/master/lib/tokenizer.js#L57-L64) so it sees "anti-virus" and converts that to the two tokens `anti` and `virus`. When you search for "antivirus" there is no hyphen and so Lunr considers it a single token, and it doesn't have a single token "ant

[2017-09-04 19:18] olivernn commented on #284
Quoting @abastardi from the Gitter channel:

Finally, are there docs for v1 somewhere?

[2017-09-04 19:35] olivernn commented on #284
@abastardi re Elasticlunr, I don't know, I'm not familiar with development on that library, though specifically regarding index size, this claim was probably made against pre 2.x versions of Lunr.

This is what I was sort of talking about with merging indexes, i.e. when adding a new document(s) you create a new index, and then _somehow_ merge them together. Updating _could_ work in a similar way,

[2017-09-04 20:00] olivernn commented on #295
Ok, I've taken a closer look at this, and it is due to stemming.

If you look at `index.invertedIndex` you will see what Lunr has indexed, it has two entries: `iphon` and `phone`. So, it is stemming "iphone" to "iphon", dropping the "e", but not doing so with "phone", this is weird, but [algorithmic stemming](https://en.wikipedia.org/wiki/Stemming) is not perfect. I would certainly have expected t

[2017-09-04 21:06] abastardi commented on #284
@olivernn Thanks for the breakdown. Maybe a start would be to at least allow updates to the `invertedIndex` -- so if there are a large number of documents, changing a single document doesn't require recreating the entire `invertedIndex`.

Regarding the `tokenSet`, I wonder if it would be feasible to have an *option* for a non-compressed version that would be easier to update (at the cost of taking

[2017-09-04 21:09] gsavin commented on #295
Hi @olivernn

Thanks a lot for the time you spent on this. I understand that stemming is causing the trouble. Second solution sounds the best one, but I am just afraid there are others terms like `iphone` that I am not able to see...

That's why I am using leading and trailing wildcard, but if`*phon*` is working fine, `*phone*` is not working. I guess the trailing wildcard is understood as _at lea

[2017-09-06 10:32] seantanly opened #297 "Mixing definition of const/enum within string makes it hard to write typescript definition"
https://github.com/olivernn/lunr.js/blob/81b4fd6547ce3155820406b09ae417a4c10431ed/lib/query.js#L40-L43

The clever use of defining enum constants within the instance of string "*" makes it hard to write type definition for typescript.

May I suggest adding `lunr.Query.wildcardSymbol = "*"`

[code]

This allows the typescript definition to ignore `lunr.Query.wildcard` as a string, and prevent break

[2017-09-06 13:43] mike1808 commented on #295
I have the same issue with trailing wildcards and stemmer. For example if you try to index `sophie` using default index and try to search `sophie*` it will return empty results.

Here is [fiddle](https://jsfiddle.net/ndv66e5r/3/) with my example

[2017-09-06 14:50] seantanly commented on #297
https://github.com/olivernn/lunr.js/blob/01a0241f637b75c0cc8a89d879e377561a37e59a/lib/tokenizer.js#L19
https://github.com/olivernn/lunr.js/blob/01a0241f637b75c0cc8a89d879e377561a37e59a/lib/tokenizer.js#L64

Same issue encountered with `lunr.tokenizer` (function) and `lunr.tokenizer.separator` (RegExp constant) being mixed together.

[2017-09-06 17:41] olivernn commented on #297
+1 for the backwards compatible version, but does it need to be part of the TypeScript interface? The enum values do, but I don't think the string `lunr.Query.wildcard` is really used as part of the public API, its not even used in other places within the JavaScript implementation (which could/should probably be fixed). I don't know what the best practise is when defining interfaces/typings for Ty

[2017-09-06 18:20] olivernn commented on #279
I've been doing some thinking about this and I think an approach forward is to improve the quality of the implementation of `lunr.tokenizer`. Its job is to turn some text into individual words or tokens. The fact that `lunr.trimmer` even exists suggests some inadequacy in the implementation of `lunr.tokenzier`. More generally, unicode is hard, and texts with non latin characters are not really wel

[2017-09-06 19:42] myalgo commented on #296
Hi Oliver,

I am using the customPipeline in following way

[code]

First one prints results, but second does not.

Also I plan to use predefined/prebuilt indexes on client.
Do I need to add something like lunr.use(customPipeline); on the client ?

Please let me know

[2017-09-06 20:26] olivernn commented on #296
Could put together an example in [jsfiddle](https://jsfiddle.net) (or similar) so I can see what is happening?

Adding your pipeline function to `searchPipeline` implies that is required for searching, so you _will_ need to have your pipeline function available on the client side. The call that registers your pipeline function needs to happen both when building the index on the server side, and be

[2017-09-06 20:55] gsavin commented on #295
I had a look into the stemmer code, and found out why he is doing this. There is this regex : `var re_5 = /^(.+?)e$/` which is removing the trailing `e` of tokens. The same regex will apply for `sophie` @mike1808
So it's fine the search is going through the pipeline, but since using leading or trailing wildcard is disabling it, lunr is not able to solve `*phone` properly...
Is there a way to run t

[2017-09-06 21:52] gsavin commented on #295
Just an update. I was able to do what I was saying with :
[code]

But.... If `iphone` is turned as `iphon` by the stemmer, `phone` is not turned as `phon`, because it does not match the replace condition of step 5 `if (re.test(stem) || (re2.test(stem) && !(re3.test(stem))))`. Such a pain in the butt..

[2017-09-06 23:54] myalgo commented on #296
Oliver,

This seems to be working.
https://jsfiddle.net/msexkb0w/3/

I had missed out on the lunr.tokenizer.separator = /\s+/ earlier.
Also was unsure have to use the custom code on client side.
Thanks :)

[2017-09-07 01:44] seantanly commented on #297
I have considered `lunr.Query.wildcard` because it seems to be part of the public interface - placed after comments. It can be excluded from the TypeScript interface.

Searching around, `lunr.Query.wildcard` is used only at

https://github.com/olivernn/lunr.js/blob/81b4fd6547ce3155820406b09ae417a4c10431ed/lib/query.js#L84
https://github.com/olivernn/lunr.js/blob/81b4fd6547ce3155820406b09ae417a4c10

[2017-09-07 05:50] seantanly commented on #297
As suggested, I left out `lunr.Query.wildcard` in the typescript definition.

[2017-09-07 05:50] #297 closed

[2017-09-07 06:03] seantanly commented on #241
I have rewritten the typescript definitions for lunr based on v2.1.3 and submitted the pull request to DefinitelyTyped.

https://github.com/DefinitelyTyped/DefinitelyTyped/pull/19598

Once it's approved/merged and pushed to npm, typescript users should be able to install the latest definition with `npm install --save-dev @types/lunr`.

Still, it would be great if the definitions can live as part o

[2017-09-07 06:47] jbouzekri commented on #241
@seantanly : Will we still be able to install the definition for v1.0.0 using `npm install --save-dev @types/lunr` ?

[2017-09-07 07:10] seantanly commented on #241
@jbouzekri Definitely, you simply need to define the version of the `@types/lunr` package you're going to install.

Looking at the current info,
[code]
The latest version is `0.5.29`which I assume is the definition that supports lunr v1.0.0.

With that info, you just need to run `npm install --save-dev @types/lunr@~0.5.29`, which should peg your version of the package to `~0.5.29`.

The new packag

[2017-09-07 07:18] jbouzekri commented on #241
@seantanly : thanks. It is a little confusing how there is a single repository of typings that produces all these npm @types registrations with different versions.

[2017-09-07 07:33] seantanly commented on #241
@jbouzekri DefinitelyTyped is a repository for all external typescript typings, and the repository is automated to publish npm packages under the scope `@types` upon successful PR merges. The version/author/misc info of the packages is determined by the magic comments inside `index.d.ts`. For example, the version that I have submitted indicated `2.1`, thus the published package version should be `

[2017-09-07 07:37] jbouzekri commented on #241
@seantanly : Thank you for the explanation. I was looking at [Microsoft/types-publisher](https://github.com/Microsoft/types-publisher) but I was wondering from where these version numbers were coming from.

[2017-09-07 18:24] olivernn commented on #295
@gsavin yeah, stemming is a bit of a black box, I didn't write the current stemmer, so its even more of a black box. I did think about re-implementing it, if nothing else then to understand the rules a bit more, but time is always in short supply!

@mike1808 regarding the behaviour of the wildcard, I think that is a bug, or at least incorrectly implemented. I took inspiration for the syntax from [

[2017-09-07 18:50] myalgo commented on #295
@olivernn, I have the same issue as @mike1808 described. Thanks in advance for looking into it.

[2017-09-07 18:50] olivernn commented on #295
@mike1808 actually, scratch that, I just wrote a test and it does match 0 or more characters, you're right that it does need stemming to match.

[2017-09-07 18:54] olivernn commented on #295
@myalgo @mike1808 the [test](https://github.com/olivernn/lunr.js/commit/91dd9bdeb24ebce04b9124eeb11ff4a97f3b7b96) I just added.

[2017-09-07 23:34] myalgo commented on #295
@olivernn, why does * match 1 or more in Lunr? 0 or more sounds more appropriate.
* seems moreover like + here

[2017-09-14 21:49] julmot commented on #25
Hey @olivernn,

As v2 is now released, I just would like to ask you about the status of highlighting matches for this release. Did you decide to go with mark.js or do you recommend a different way?

Thanks for your reply.

[2017-09-20 18:48] mnemanja opened #298 "Search (or add) not working."
Hello,
I'm following the tutorial from this book https://www.manning.com/books/cross-platform-desktop-applications.

They are using the old API, so I've tried using the new one but it does not work for me.

I cannot confirm if search and add exist from the perspective of API.
![image](https://user-images.githubusercontent.com/1423218/30661648-f7a96190-9e44-11e7-9f9f-1dc3e91abc0c.png)
I'm not sure

[2017-09-20 19:25] olivernn commented on #298
It looks like you are using Lunr 2.x which no longer supports adding documents to an index _after_ it has been built (more info in the [upgrading](https://lunrjs.com/guides/upgrading.html#index-building) guide).

That said it looks like you are working around this by rebuilding the index every time you want to add a file to it. At a glance it looks like you call `resetIndex` before doing the searc

[2017-09-21 11:27] budziq opened #299 "Rebuilt index documentation / schema"
Hi,

Currently the rust lang community is considering [adding search](https://github.com/azerupi/mdBook/issues/51) into our [documentation sites](https://doc.rust-lang.org/nightly/#the-rust-bookshelf) (mostly generated and hosted as static content generated from MarkDown via https://github.com/azerupi/mdBook/)

And we are considering lunr.js as a good fit. The only problem is that current instruct

[2017-09-21 13:51] olivernn commented on #299
There is a [repository](https://github.com/olivernn/lunr-schema) with a JSONSchema description of the index.json file that Lunr expects. It is marked WIP, but mostly because I still haven't gotten around to using it from any other environment yet. I'm more than happy to work with you on making sure it is straightforward to integrate with the schema; let me know how I can help.

As for implementing

[2017-09-21 14:11] budziq commented on #299
Thanks for the help @olivernn !

We'll look into it. It may take some time before someone actually starts any development but we'll be sure to reach out if we'll have any questions :smile:

[2017-09-21 14:26] olivernn commented on #299
I've read through the [mdBook](https://github.com/azerupi/mdBook/issues/51) issue, one thing you might consider is getting [tantivy](https://github.com/tantivy-search/tantivy) to do the hard work of building the index etc, and figuring out a way to export what it generates in the schema that Lunr expects. I'm not at all familiar with tantivy so don't know how possible that is, but this approach wo

[2017-09-21 19:25] stephenbe opened #300 "How to get title and url from the return of search object"
I have a simple json file :

[code]

How do I create a serialise index from it that Lunr will understand and parse ?

[code]

That us my code so far but all I get is a returned object with a ref. I'm kinda lost how to get the title, and url I added in the $.each

Any help will be appreciated!

[2017-09-21 20:48] olivernn commented on #300
Lunr isn't a general purpose store for the documents that you are indexing, it can only return you the `ref` of the document that you indexed. You should then use this to retrieve the full document from some where else. In your case it would probably make sense to keep the parsed JSON you receive around as a lookup for the `ref` returned in the search results.

Also, if it was me, I'd consider usi

[2017-09-21 20:53] stephenbe commented on #300
Thank you so much for the answer, yeah I figured it out little bit after posting this, I use the ref returned and it worked great.

Good to know for the boost, thank you!

[2017-09-21 20:53] #300 closed

[2017-09-23 17:44] budziq commented on #299
@olivernn Thanks! I'll look into tantivy and possibly reach-out to them (it's build with rust nightly only but that could be fixed)

[2017-09-24 19:07] eskwayrd opened #301 "Searching for content containing punctuation"
Hi,

I'm searching programming documentation and, as you can imagine, much of the indexed content contains punctuation. Here's an example:

[code]

In this example, there are several issues:
- Searching for `Navigation` returns no results.
- Searching for `*Navigation*` returns results.
- Searching for `android:` results in a QueryParseError exception "unrecognized field 'android'..."
- Searching

[2017-09-25 12:15] nerumo commented on #270
@meltuhamy how exactly did you do the workaround with the pipeline function? I'm afraid that expanding every keyword to subsets would make my index burst.

I currently had to disable leading wildcards because of this issue (>20s with leading wildcard compared to <400ms without).

[2017-09-27 05:15] myalgo opened #302 "Using lunr languages"
I was checking the language support code on https://lunrjs.com/guides/language_support.html
I had following questions :

1) How do I use lunr languages for prebuilt indexes ? Please give example of client side javascript code

2) Does lunr languages support current codebase for lunr? We are currently using 2.1.3

3) Currently languages supported is needed for Japanese, Portuguese, Korean, Chinese

[2017-09-27 16:15] #292 closed

[2017-09-27 16:16] #291 closed

[2017-09-27 16:31] olivernn commented on #301
This is because the token that was indexed is 'android:keyboardNavigationCluster' and Lunr no longer adds any automatic wildcards to the search string. That said, you could try and make Lunr understand camel cased words and get better results. You could do this by creating a [pipeline function](https://lunrjs.com/guides/customising.html#pipeline-functions) to split 'android:keyboardNavigationClust

[2017-09-27 16:40] olivernn commented on #302
What did you try? I think this exact scenario is mentioned in the [README](https://github.com/MihaiValentin/lunr-languages/blob/master/README.md) for the lunr languages project.

Yes, it supports every version of Lunr from 0.6 upwards. It looks like the README could be updated here, why not send a pull request?

If a language you need is not currently supported then there is a [guide](https://gith

[2017-09-27 19:18] eskwayrd commented on #301
I went with your last suggestion (it is almost identical to the examples in other discussions). However, disabling stemming during the query is not so effective, since the index contains stemmed words; the indirect effects of stemming still exist.

I've disabled stemming during indexing, plus the stop words filter (because many code samples in my content include `and` and `or`. Now my search resul

[2017-09-27 19:18] #301 closed

[2017-10-04 01:00] tehandyb opened #303 "Does boosting multiple fields increases rank?"
Hi I was wondering if boosting multiple fields will make a result rank higher than another result that only matched on one field.
[code]

[2017-10-04 10:39] olivernn commented on #303
Probably.

A score for a document depends on a number of things:

* How common is the term being searched for over _all_ documents
* How common is the term being searched for in the _matching_ document/field
* How many other terms are in the document/field
* Any boost that was part of the query

So, in your example the second document _might_ rank higher, because it matches two fields, but that ma

[2017-10-04 15:32] tehandyb commented on #303
Thank you, that's really useful info! I was trying to play around with the boost and was experiencing what I thought was unpredictable behavior, but now it makes much more sense. I wish there was some sort of visualization that might show how the search relevancy/boost worked, but I really appreciate the explanation.

[2017-10-04 17:02] olivernn commented on #303
I have thought about having some kind tool that makes interacting with and inspecting an index easier. I'm sure it would help people understand the results that they get (or don't get) from searches. I've often wanted it to understand a particular issue someone is having with their index too.

Actually getting time to sit down and implement something is another story though, one day, maybe...

[2017-10-04 22:21] tehandyb commented on #303
Yeah it would be so useful. I would love to help make something like that and have a bunch of d3/dataviz experience, so let me know!

On another note(sorry if I should post in another issue), do you know if it's possible to set a custom boost for when a term matches a field that has less terms in that field? I've been having trouble getting a document to rank higher in a case similar to this:
[cod

[2017-10-09 15:35] straight-shoota commented on #243
I've encountered the same error in a gitbook using lunr.js (see crystal-lang/crystal-book#127). The search fails when a search term matches two pages which contain an emoji.

A possible workaround is to encode the emoji as a numerical character reference, this works with lunr.js.

[2017-10-09 19:30] olivernn commented on #243
@straight-shoota ah, thats annoying! What version of Lunr are you using? If the issue you are seeing is what I think it is, then there is more discussion/debugging in #279.

I started working on a better tokeniser, but have been a bit sidetracked recently. My priority is to get it working with the 2.x version, it _might_ be possible to back port it to 1.x too...

[2017-10-09 19:39] straight-shoota commented on #243
Seems to be a quite old version `0.5.12` and as I understand it, it [comes bundled](https://github.com/GitbookIO/plugin-lunr/blob/master/package.json) with `gitbook`.

[2017-10-12 09:03] fzingg opened #304 "Cannot disable stemmer and search for exact word"
Thanks for this lunr.js lib which is great.

I would like to find exact matching word:
For example:

When searching "implements", I want only "implements"
When searching "implemented", I want only "implemented"
When searching "implementation", I want only "implementation"

Is that possible ?

I have tried disable the stemmer like this:

[code]

But no effect.

What would be the could config ?

Tha

[2017-10-12 20:49] olivernn commented on #304
Do you have an example, putting together a reproduction on something like [jsfiddle](https://jsfiddle.net) makes it a lot easier to understand the problem you are having.

If you want to completely disable the stemmer you must remove it from both the indexing pipeline _and_ the search pipeline, this _should_ work:

[code]

There is more [documentation](https://lunrjs.com/docs/lunr.Builder.html) on

[2017-10-12 20:50] #302 closed

[2017-10-13 04:09] Knacktus opened #305 "Slow Indexing Performance - to be expected?"
First time user here. Indexing (Builder.build()) performance is quite slow. I'm not sure if it's to be expected, but my gut feeling tells me that I might do something wrong.

Following the numbers, then the data and then my code:

1000 rows take 300 ms -> pretty fast
10000 rows take 10 seconds -> hmm, exponential but still OK
30000 rows take 60 seconds -> too much, especially as I expect productio

[2017-10-13 06:26] olivernn commented on #305
Thanks for the profile, super useful.

I'm actually surprised by the results, it looks like the bulk of the time is spent creating the vectors used to represent the documents, specifically in the function that calculates the inverse document frequency for terms, [`lunr.idf`](https://github.com/olivernn/lunr.js/blob/master/lib/idf.js). As you can see, it doesn't do very much, just some maths.

This

[2017-10-14 16:19] olivernn commented on #305
I've just published a new version of Lunr (2.1.4) which includes a small change to cache the calculation being made by `lunr.idf` during build time. In my local testing this showed a decent speed up in performance, let me know if it has a positive impact on your data set.

[2017-10-14 22:11] drzraf commented on #264
See also the [API](https://github.com/fergiemcdowall/search-index/blob/master/docs/search.md) for [search-index](https://github.com/fergiemcdowall/search-index):

[code]

Another examples from the above documentation:

[code]

[2017-10-16 12:30] emirotin commented on #305
I have a similar problem, but this time it's more about memory allocation fail (though also about the speed). Let me know if you'd like a separate issue for that.

I have the reduced test case. You can find it here: https://github.com/emirotin/lunr-failure.
**You need to untar theJSON dump file** before running the code.

The error looks like this:
[code]

Interesting enough:
- with metadata and m

[2017-10-16 12:49] olivernn commented on #305
@emirotin interesting, also thanks for the reproduction. How much memory was the node process consuming before it died? From what I understand, this is caused when trying to allocate a large object. Looking at your stack trace this appears to happen [here](https://github.com/olivernn/lunr.js/blob/master/lunr.js#L2162) when adding to the inverted index, so perhaps you managed to reach a limit on ho

[2017-10-16 13:14] emirotin opened #306 "Lunr index building is killed with OOM error"
Original report is here https://github.com/olivernn/lunr.js/issues/305#issuecomment-336872069

The process is using around 1.5GB RAM when it crashes.
I'm on MBP 2017 with 16GB RAM and the overall memory pressure when running the tests is pretty low (App Memory combined is about 8GB, the chart is all green).

[2017-10-16 13:14] emirotin commented on #305
Thanks for the prompt response @olivernn, moved!

[2017-10-16 17:43] olivernn commented on #306
I get similar results, it gets to about 54K entries and then massively slows down, I got bored waiting for it to crash...

I re-ran the command again, but this time increased the amount of space available to node to 4GB:

`$node --max-old-space-size=4096 build-index.js`

It got to 156K entries before slowing down again, so I think you just need to increase the amount of memory you give node.

My g

[2017-10-16 20:41] emirotin commented on #306
Thanks for your thoughtful investigation!

It's quite possible indeed that I've hit the limits of Lunr and have to use another solution, though Lunr is really easy to work with and I had good experience using it before (with much smaller amount of doc though), so it was my first candidate.

Here's my use-case.
There's a remote DB of docs of some sort (essentially they're questions similar to those

[2017-10-17 19:29] olivernn commented on #306
Interesting, thanks for the context. So I _think_ it might be pushing Lunr too far, I've not heard of people with such large indexes. That said, I'm now interested to see how far we can push the current implementation!

From the testing that I've done so far it looks like the bottleneck is the GC, and allocation size. I reckon getting indexing to first complete, and then not take hours is going to

[2017-10-17 20:35] emirotin commented on #306
:100:
I managed to finish the indexing today with 8GB or 10GB max memory limit for Node (and it takes about 6-7 minutes), and the final index construction from the builder takes negligible time. But then serializing the index to JSON takes too much time unfortunately. I've been able to make it work with `bfj` but it's been taking too much time to stream it to disk so I had to abort it. I also expe

[2017-10-18 00:07] myalgo commented on #264
@olivernn is boolean search part of the roadmap?

[2017-10-18 07:10] olivernn commented on #264
This is still something that I want to add, and will be the next large feature that I work on in Lunr, probably landing in 2.2, at some point.

My current thinking is to implement this at a slightly lower level to begin with, and rather than implement `AND` specifically, provide some lower level primitives that can be used to achieve the same thing:

I want to add a single property to a search ter

[2017-10-19 07:14] stjosh opened #307 "Documentation: Issue in example Code for Pre-building Indexes"
Hi, I hope this is the correct place to post an issue on https://lunrjs.com/guides/index_prebuilding.html .

In the sample node script for building an Index, `var documents = JSON.parse(buffer.join())` is used to parse STDIN to a JSON array. However, this does not work for large inputs (i.e., in case the buffer has more than one element), because if called without arguments, `join()` will join the

[2017-10-19 10:07] olivernn commented on #307
The website is in this [repository](https://github.com/olivernn/lunr-site), please open an issue there, or better yet send a pull request ;)

[2017-10-19 10:07] #307 closed

[2017-10-19 10:08] olivernn commented on #307
The specific page is https://github.com/olivernn/lunr-site/blob/master/source/guides/index_prebuilding.html.md

[2017-10-19 11:24] stjosh commented on #307
Perfect, I was looking for the repo of the site but did not find it - shame on me. :smile: Will open a pull-request!

[2017-10-19 11:28] olivernn commented on #307
No problem, thanks for taking the time to open an issue _and_ provide a fix!

[2017-10-19 11:37] stjosh commented on #307
See olivernn/lunr-site#3

[2017-10-19 17:09] olivernn commented on #306
I noticed while adding some more logging to the script that the inverted index size was _very_ large, e.g. >400K keys. This implies that there are over 400K unique tokens in your documents. Apparently there are ~ 200K english words in OED:

Lets say there are the same for Russian (I don't know), that then gets us to the ~400K mark, but does you data actually contain most words in the dictionary? I

[2017-10-19 17:42] emirotin commented on #306
Russian dics may indeed contain up to 200K words (that's the case for the
Dahl's dictionary), but that including lots of obsolete, local, and not
often used words, and including derivatives.

My docs are written in modern natural language and are usually short (1-3
sentences).
They also contain sources which are bibliographical references and URLs.
They sometimes contain non-Russian words, but tha

[2017-10-20 10:11] dkijkuit opened #309 "Explain these results"
Can someone please explain these search results? I have multiple fields in my index but I only want to search the 'title' field so I created this query:

[code]

The first two results for the title are in the following order:

- Manage business processes
- Business to Business  [B2B]

Why does 'Manage business processes' show up first? Shouldn't the second result be on top? Because the second resu

[2017-10-22 08:14] olivernn commented on #309
Could you post a reproduction somewhere like [jsfiddle](https://jsfiddle.net)?

It's difficult to say why you are getting those results without seeing how the index was defined and without the actual data. From what you've shared I would expect to see "Business to Business [B2B]" to rank above "Manage business processes" though.

[2017-10-22 13:38] dkijkuit commented on #309
Yes, I've created an example: [https://jsfiddle.net/jg7fugfw/7/](url)

[2017-10-23 12:07] LorenzoSerino opened #310 "Add the search term to the output results"
Hi Oliver,
    I'm trying to add the search term on the results to analyze the result of the output and reject the little significants. For example, I would like to look for the documents containing two clauses:
- first is [po*] (to find the documents with the words beginning with "po".
- the second word is a complete word [topolino]

Now I want to look for all the documents that contain:
- [topol

[2017-10-23 18:43] olivernn commented on #309
Thanks for the fiddle, makes it much easier to figure out what is going on.

Looking at the results, both documents have the same score, which would be unexpected, but then I took a closer look at the data, the second title contains a misspelling: "Busisess" instead of "Business", so the results are then expected, since both documents only have a single "business" in the title.

Updating the [exam

[2017-10-23 18:52] olivernn commented on #310
So, it looks like you want to do a query for documents that contain terms matching "topolino" and optionally "po*".

Unfortunately this isn't something that is supported yet in Lunr. It is a much requested feature, and is what I'm currently working on. I've [discussed](https://github.com/olivernn/lunr.js/issues/264#issuecomment-337480632) how I think this should look, but I would phrase that query

[2017-10-23 18:58] olivernn commented on #305
@Knacktus how much of an impact did the latest version of Lunr have on your index building speed? Any improvements?

[2017-10-23 19:07] olivernn commented on #303
@tehandyb sorry I seem to have missed your update to this issue...

Feel free to open an issue to discuss ideas for visualisations of lunr data, either that or there is a gitter chat room, whichever you prefer.

As for the second part of your question, what did you come up with? I've put together a [fiddle](https://jsfiddle.net/su2zmq4c/1/) which shows the results I'd expect, the document with _on

[2017-10-23 19:09] olivernn commented on #309
I'm going to close this issue now as I don't think there is anything that needs to be done in Lunr. Feel free to leave a comment if you have any other related questions.

[2017-10-23 19:10] olivernn commented on #304
@fzingg did you manage to get this working?

[2017-10-23 19:12] #85 closed

[2017-10-23 19:15] olivernn commented on #86
This is an old issue, but Lunr 2.x does now support combining query terms with OR.

[2017-10-23 19:15] #86 closed

[2017-10-24 07:21] LorenzoSerino commented on #310
Hi Oliver, thanks for the quick reply

I read the old discussed and Yes, your proposal for me is correct.

if i can i want to help you and i suggest you:
1) lunr.Query.presence.REQUIRED ok
2) lunr.Query.presence.ONLYONE (max 1)

then, more immediate and simple solution  i would add the clause in the items result o a custom function (output pipeline...) for whatever you want.

Thanks in advance
Lor

[2017-10-24 09:07] dkijkuit commented on #309
Sorry my mistake, but I've changed the example to the exact case I am using in my code. And now it shows the incorrect results again. I've changed the body field, but that field should be ignored because I specifically search in the title field.

[2017-10-24 14:13] olivernn commented on #309
Yeah, that is weird, I wouldn't have expected those results given those documents, I'll take a closer look...

[2017-10-26 21:41] larskendall commented on #256
I've been having a problem with wildcard searches on version 2.1.3, which seems to be related to this issue. Wildcard searches will return results up to a point, and then stop returning them. For example, I'm building an index using the following documents...

[code]

If I run a search for `critic*`, I'll get back results. But a search for `critica*` or `critical*` will return nothing. Is this a b

[2017-10-27 07:20] olivernn commented on #256
@larskendall without seeing how you set up your index its difficult to say for sure, but that looks like the result of [stemming](https://lunrjs.com/guides/core_concepts.html#stemming). "critical" stems to "critic" you can test this out with the following snippet:

[code]

Further up in this thread there are a couple of suggestions for ways to express searches that will lead to the kind of results

[2017-10-27 21:11] larskendall commented on #256
@olivernn Looks like that did the trick! Thanks so much for the quick response!

[2017-10-29 10:14] olivernn commented on #309
I've poked around at the data in the index you provided to try and understand the results you are getting. I *think* the problem is due to term saturation, I'll try and explain what is happening and why Lunr is assigning the scores it is.

The term "business" is _very_ common in your example set of documents, it occurs 9 times across all fields. Ordinarily a term appearing many times in a document

[2017-10-30 14:23] drzraf commented on #264
The workaround of @danjarvis is interesting, but as soon as one of the terms appears in multiple fields it "artificially" increases matchData.metadata.length.

I fear there are no other workaround than issuing one query per term and then intersect the various result sets and finally average the scores.

[2017-10-30 19:13] drzraf commented on #299
How to know the documentCount in case of prebuilt indexes? (there is no `builder` involved)

[2017-10-30 20:38] drzraf opened #311 "same Clause (term) multiple times"
Please document what is expected to happens with following
`q.term(t);  q.term(t, { field: ["foo"] });`
and, in opposite order:
`q.term(t, { field: ["foo"] }); q.term(t);`

[2017-10-31 08:36] dkijkuit commented on #309
Thanks for the explanation, I understand the complexity of dealing with this specific case. Wouldn't it be possible to completely ignore the 'body' field in this case? Because the search term specifically chooses to search in the 'title' field. In that way you could search in documents on specific characteristics rather than the whole index.

[2017-10-31 20:12] olivernn commented on #299
@drzraf why do you want to know the number of documents?

Depending on the implementation it might be possible to infer the number of documents since the serialised index includes the list of fields and there is a `fieldVector` per field per document. I say it depends on the implementation because if a document does not contain a field it _might_ not appear in the field vectors.

[2017-10-31 20:18] olivernn commented on #311
What do you expect to happen in those cases?

With the _current_ implementation a term that is repeated will have a higher weight in the query, i.e. it will be similar to providing a boost of 2 (if the term appears twice in the query).

How Lunr handles these cases is not documented because I think it's an implementation detail rather than a specific property of the interface. As soon as its docum

[2017-11-01 04:36] Ranhiru opened #312 "Can I boost a field and not a term ?"
I am building an index which has several fields (name, make, OEM name and description)

E.g

[code]

So when I search for **allen wrench**, given that the word `wrench` is in name, oem name and description it makes sense that the first result is ID 1.

However I want to specify that the field `Name` has an extra boost so that when I search for **allen wrench** ID 2 will be the first result.

Is th

[2017-11-01 14:20] drzraf commented on #299
In the context of automatic tests I build (OR load) the index,

One of my tests ensures index contains more than X documents.
If index is built I can use the builder, but if loaded I'm not able to
ensure the index is valid.

[2017-11-01 14:34] drzraf commented on #311
In my implementation I'm trying to setup a general **AND** search

When I process each term of the query, I want to maximize the probability to find it.
Thus searching this term in multiple indexes with various boost/fields settings should "extend" the search surface and not "reduce" it.
So `q.term(t);  q.term(t, { field: ["foo"] });` should keep search `t` in `*` fields and not only `foo`.

That

[2017-11-01 19:51] olivernn commented on #312
I've put together an [example](https://codepen.io/anon/pen/dZYVro?editors=0012) to demonstrate _how_ a query that boosted a field could look. That said, it doesn't have the behaviour that you want, document 1 still scores higher.

This is interesting because Lunr _used_ to have field level boosts but they were dropped in 2.x. I justified this to myself by also introducing term level boosts at quer

[2017-11-02 00:33] Ranhiru commented on #312
@olivernn No problem. Hopefully it'll be something you can address in the future :)

Also thank you very much this library. We have an offline capable application working with thousands of items in the IndexedDB and this brought a huge improvement over our simple regex based search 👍

[2017-11-02 02:43] ekryski commented on #243
I can confirm it's definitely related to emoji's. I removed them from our Gitbook and search is all good again.

[2017-11-05 14:22] Sylhare opened #313 "Have an online minified version of lunr.js"
Allo,

I don't think I have seen a minified version of lunr.js on the website. But let's assume we make one then would there be an official link toward that `lunr.min.js` so we could use it without downloading the file?

For example with Jquery and other famous one, we usually have link that we can use like:
[code]
Here we could probably use the [raw](https://raw.githubusercontent.com/olivernn/lun

[2017-11-05 14:25] Sylhare commented on #313
Oh I just see #283 saying there's a minified version at 2.10. But I don't know where it was said on the documentation. Somebody would have the link?
Thanks

[2017-11-08 08:51] mnemanja commented on #298
Thanks for your response.
I'll close this issue since I'm no longer working on this.

[2017-11-08 08:51] #298 closed

[2017-11-10 15:54] lz000 opened #314 "wildcards search sometimes gives error "TypeError: Cannot read property '_index' of undefined""
I have an array of 100000+ objects indexed
[code]
When I do wildcards search `index.search(query + '*');`, some queries give error "TypeError: Cannot read property '_index' of undefined", others not.
[code]

But so far as I tested, the queries that failed on wildcards search work on fuzzy matches `index.search(query + '~1');`
The version I'm using is 2.1.4.

Any idea why this is happening?

[2017-11-10 20:58] hoelzro commented on #284
@olivernn Hi there, and thanks for all your hard work on lunr.js! I wanted to chime in with my use case for mutable indexes - I wrote a TiddlyWiki plugin to enable full text search a while ago (https://github.com/hoelzro/tw-full-text-search/) using lunr.js 1.0.0.  I use a strategy of updating the index every time a document changes - building a fresh index on my personal with several thousand docu

[2017-11-16 15:47] Sylhare commented on #313
Allo I have found it, putting the link for anyone to find:

https://cdnjs.com/libraries/lunr.js/

[2017-11-16 15:47] #313 closed

[2017-11-16 15:49] Sylhare commented on #283
Allo,

I have found a link for v2.1.4:

- https://cdnjs.cloudflare.com/ajax/libs/lunr.js/2.1.4/lunr.js

on [cdnjs](https://cdnjs.com/libraries/lunr.js/)

[2017-11-18 05:27] d4l3k opened #316 "lots of unnecessary objects in invertedIndex (40% of memory)"
I was trying to debug some large memory usage issues with lunr.js. I found that the lunr invertedIndex was roughly 138MB. By removing keys with empty objects I was able to cut 138MB down to 82MB which is a 40% savings!

![2017-11-17-211858_616x576_scrot](https://user-images.githubusercontent.com/909104/32977179-f13327d6-cbdc-11e7-8e84-4426677fb789.png)

![2017-11-17-212119_1178x251_scrot](https://

[2017-11-18 05:30] d4l3k commented on #316
This is on v2.1.4 btw.

[2017-11-20 18:52] kurdin commented on #284
I just want to say, this is strange that you no longer can update current index in v2. There are so many use cases where you want to do that, especially on server with index of your app documents.

I needed a query by field functionality but it is only available in v2, so after after upgrade to v2 I was a very surprise that you no longer can use update method.

[2017-11-20 20:23] hoelzro commented on #284
If anyone's interested, I started a PR (https://github.com/olivernn/lunr.js/pull/315) adding a `lunr.MutableBuilder` and `lunr.MutableIndex` type for, well, mutable indexes.  I'm going to be using them for my plugin, and feedback on the work would be helpful!

[2017-11-21 14:57] jonfrench opened #317 "Feature request: boost by non-field value"
First, thank you for such a great library. I've searched the documentation and I think that this case is not yet supported;

Given two documents with identical search field values:

{title:"foobar", rank:1}, {title:"foobar", rank:2}

I would like a search for "title" against an index build against only the title field to always boost the first document based on its lower rank value (1 comes before

[2017-11-22 14:56] x1unix opened #318 "Unable to perform search using Cyrillic chars"
Lunr.js can't work with collections that contain values with cyrillic characters.

Bug example you can find at [this codepen](https://codepen.io/cyberd/pen/YELwOz)

[2017-11-22 16:19] hoelzro commented on #318
@x1unix Привiт!  The default pipeline is English-specific; you may want to check out https://lunrjs.com/guides/language_support.html for other languages.  Unfortunately, it doesn't look like there's a Ukrainian plugin, but maybe you could create one!

[2017-11-22 16:21] hoelzro commented on #304
@fzingg Another thing I noticed in your example is that you remove the functions from the pipeline _after_ you index - in order for this to work, you'll need to remove them before you add any documents.

[2017-11-22 16:28] hoelzro commented on #316
I'm guessing this is because an object is created for metadata, but that's not needed if `builder.metadataWhitelist` is empty: https://github.com/olivernn/lunr.js/blob/2dc9c6c6c41b1f5850f2bed0a82d8cd45835d166/lib/builder.js#L161-L176

[2017-11-22 16:50] hoelzro opened #319 "Feature Request: object pipelines"
This isn't so much a feature request as it is a question about whether this is a good idea, and what the design should look like to fit into lunr.js in general.  If it doesn't belong in lunr.js itself, I think I could make a separate plugin like I did for mutable indexes.

Basically, I was wondering if it would be possible to have a pipeline function be an _object_ instead of just a function.  My

[2017-11-22 19:38] olivernn commented on #316
Yep, those objects are where metadata is stored for each term.

There is certainly scope for some substantial memory savings for in memory indexes here. The Proxy object solution is cool, but I'd like to keep ES5 compatibility for the time being.

There are a couple of approaches that might work here. The simplest to implement (I think) would be to re-use the same empty object if there is no metad

[2017-11-22 19:38] x1unix commented on #318
@hoelzro, thank you!

[2017-11-22 19:38] #318 closed

[2017-11-22 20:03] olivernn commented on #319
So, currently `lunr.Pipeline#run` [calls pipeline functions with parens](https://github.com/olivernn/lunr.js/blob/master/lib/pipeline.js#L208). As far as I'm aware this is difficult (impossible?) to handle with an object other than a function. However, we could change to using `Function#call` which any other object can also implement. There would be the question of what to bind `this` to and how t

[2017-11-22 20:12] olivernn commented on #317
Are you suggesting having support for some document property that can act as a tie breaker if the relevancy scores are the same?

I think at the moment that would be difficult to implement within Lunr. As far as Lunr is concerned, indexing a document is pretty much a one way operation, i.e. it is very difficult for Lunr to get an understanding of the original structure of that document after index

[2017-11-22 20:18] olivernn commented on #314
Could you take a look at #279 and tell me if it is similar to your issue? Also, if you could put together a reproduction somewhere like jsfiddle that would be a great help.

[2017-11-22 20:24] olivernn commented on #264
I have a working implementation of term presence queries, I haven't implemented the search string parser yet but it is supported in the programatic query interface. I'll try and put up a PR with the changes in the next couple of days if anyone is interested in doing some testing.

[2017-11-22 21:32] drzraf commented on #264
For what is worth, here is my AND search workaround:
[code]

[2017-11-23 03:00] lz000 commented on #314
Yes it is similar. I can confirm that the following code can work around the issue.
[code]

[2017-11-23 03:09] hoelzro commented on #319
I was thinking something along the lines of `if(isFunction(fn)) { return fn(token) } else { return fn.run(token) }`, but that's not very elegant!

Using a closure is what I currently do, but then if the closed-over data were to change (as can be the case with my query expansion), I would need to re-register the function, and that state is independent of the index.

If you'd like, I could write a `

[2017-11-23 03:11] jgerigmeyer opened #320 "Result metadata for non-initial search token is nested under term instead of field."
Given a multiple-word search token (e.g. `foo bar`), the result `position` metadata is improperly nested under a key matching the search term (`bar`) instead of the index field (e.g. `title`).

For example, given the following data and search:

[code]

The expected result `matchData.metadata` would be:

[code]

However, the actual result (using Lunr.js v2.1.4) is:

[code]

See it live in a jsfiddl

[2017-11-23 09:17] olivernn commented on #314
Ok, I'm going to close this as a duplicate of #279, if you have any more questions/suggestions please comment on that issue.

[2017-11-23 09:17] #314 closed

[2017-11-23 09:19] olivernn commented on #320
I think this is due to passing the wrong arguments to a method here - https://github.com/olivernn/lunr.js/blob/master/lib/index.js#L241

I actually noticed this the other day when working on adding AND query support. My initial thought was that this branch was dead code since the passed arguments looked obviously wrong and there had been no reports of odd behaviour. Looks like I was wrong!

I'll p

[2017-11-23 22:14] d4l3k commented on #316
I'm not sure if the memory usage is caused by the empty object, but more the number of duplicate key strings. I also experimented with just removing the empty keys and in the lunr.js code adding `|| {}` anywhere it was used. Seemed to work fine, but I don't know the code base well enough to avoid any edge cases

[2017-11-24 04:42] hoelzro commented on #316
@d4l3k Would you mind posting the script and data you're using to get these numbers? I'm curious to check it out!

[2017-11-24 12:23] knlodha commented on #312
@olivernn  Can we have field specific boosting available in lunr 2.0 similar to what we used to have in lunr 1.0.  Suppose, if we have 2 fields like 'title' and 'body' and we want to boost results which have queries matched in 'title' over the queries matched in 'body' , we cannot achieve it using term level boosting.
Thanks in advance.

[2017-11-24 22:02] jonfrench commented on #317
Thanks for posting Oliver. Yes, your suggestion of a tie breaker property is apt. I had thought of the sorting outside of Lunr also. Perhaps that will be the best implementation.

I'm not sure if the linked, #237 issue would help me. In my case, I do not want to restrict the results by rank, just use the rank to break a tie as you suggest.

Thank you again for a great library. If I think I see an

[2017-11-24 22:12] d4l3k commented on #316
I linked the script above https://github.com/nwhacks/nwhacks2018_static/blob/master/components/select-hackers/select-hackers.js

And I'm afraid I can't provide the data. It's the registration data for https://www.nwhacks.io/

[2017-11-30 16:22] jgerigmeyer commented on #320
@olivernn I went ahead and submitted a PR to fix this: #321.

[2017-12-01 14:12] #320 closed

[2017-12-02 11:31] JeremyTCD opened #323 "tokenizer.separator access modifier in type definition"
@seantanly First off, thanks for the lunr type definitions. Unfortunately, I ran into a minor issue with `tokenizer.separator`:

[code]
causes the following typescript error:
[code]
Is the [separator property](https://github.com/seantanly/DefinitelyTyped/blob/6802db8a62e53e8f86be567c2420a57eb4620d80/types/lunr/index.d.ts#L813) meant to have a `const` access modifier? If so, is there a way to assig

[2017-12-03 13:13] seantanly commented on #323
Thanks for pointing out the error in the type definition. I have submitted a PR to correct this and it should be available soon.

[2017-12-06 03:05] seantanly commented on #323
@JeremyTCD the PR is merged and the updated type definition is available now. Do close this issue if it's working for you now. :)

[2017-12-06 03:12] JeremyTCD commented on #323
Thanks for the fix! I came across a second issue though, I think the `generateStopWordFilter` function in the `lunr` namespace is missing. I'm not too familiar with typescript but I think the declaration would be something like this:

[code]

[2017-12-06 07:57] seantanly commented on #323
@JeremyTCD You're correct with the missing definition. 👍  Added another PR for it. Thanks for making the definition more accurate and complete.

If you may wish to put up a PR for lunr directly on DefinitelyTyped next time too :) in case I'm not available to do so.

[2017-12-06 08:04] JeremyTCD commented on #323
@seantanly Thanks again dude. Wasn't super confident in my TS skills :grinning:, but will create my own PRs for future issues. Closing this thread.

[2017-12-06 08:04] #323 closed

[2017-12-12 02:48] Petesta commented on #164
@olivernn I'm not sure if @selfawaresoup is referring to the fact that, you can provide a mapper function from the document that needs to be transformed in order for lunr to index properly. But then what do you with the original mapping of the document because `lunr_instance.search(SEARCH_TERM)` will return the documents after they've transformed by the mapper function. Are we to provide another t

[2017-12-18 05:17] pmccloghrylaing commented on #264
The `+|-`, `REQUIRED|OPTIONAL|PROHIBITED` format looks good to me. Seems like this would work with brackets for grouping as well:

- '+(_subquery_) ...' all results MUST match _subquery_
- '-(_subquery_) ...' all results MUST NOT match _subquery_
- '(_subquery_) ...' results includes any matches for _subquery_ that also match all `REQUIRED` or `PROHIBITED` terms / sub-queries.

I also like the sug

[2017-12-29 18:17] mdobeck commented on #295
Is the proposed solution the best option right now?
[code]

Or is there going to be a future change to * wildcard behavior?  Right now I do lose search results on many queries when I include the full query term and a wildcard. Like: Mike's `sophie*`  example.

[2018-01-10 15:16] stkevintan opened #324 "global is undefined in strict mode"
I'm using lunr with es6 syntax which need babel to convert. but babel will always enable the strict mode which will make an error in following source code:
[code]
`this` in strict mode will be undefined instead of the `window` object .

By the way, I don't understand why using `global.console` instead of `console`, is it necessary for some edge case?

[2018-01-13 12:31] jacksongs commented on #62
Hello @olivernn I've been trying to use your code from January 2014 above to offer two-word exact phrase matching, but I can't seem to reconcile it with the docs. Wondering if there has been a change since v2. Can you offer any advice?

My intention is to create an index with both single word and two word tokens.

[2018-01-15 15:59] AhmadIbrahiim opened #325 "Lunr does not support Arabic!"
We're  building a solution based on **lunr**  but it seems to be only support Latin characters is there is any solution hack this  .

[2018-01-18 23:50] sherbondy opened #326 "Unexpected behavior: numeric type refs get converted to strings once indexed."
Hi there!

Love the library, but ran into unexpected behavior recently when updating from the ancient 0.6 release to the new-and-shiny 2.1.5 release.

Notably, I was formerly passing in an id ref with a numeric value, and the older lunr.js codebase seemingly left my ref types alone.

Now, refs get coerced into strings once more!

Is this the desired / expected behavior of the library?
Is there a n

[2018-01-22 10:35] Trolleymusic commented on #173
@codepiano would you be willing to contribute a Chinese language version to the [lunr-languages project](https://github.com/MihaiValentin/lunr-languages)? - they already have a Japanese version which you might be able to use as a template of sorts.

[2018-01-22 12:43] codepiano commented on #173
@Trolleymusic I'll try, but I'm not good at this, so It may take a long time.

[2018-01-23 14:00] alonalon commented on #264
Any updates on this? would love to see this feature!

[2018-01-28 16:34] hoelzro commented on #325
Hi @AhmadIbrahiim! I don't have any experience with Arabic, but I chimed in on [this issue](#318) about using lunr with Cyrillic characters.  I don't see a plugin for Arabic listed on https://lunrjs.com/guides/language_support.html, but maybe you could create one!

[2018-01-28 16:37] mootari commented on #325
Because the link is broken: The issue is #318.

[2018-01-30 10:45] dkijkuit commented on #312
Field level boosting would also 'fix' issue #309 where I could boost the title to get the appropriate results.

[2018-01-31 17:26] TomFoyster opened #328 "Inconsistent Results"
Hi all, I'm having some issues with inconsistent results in Lunr.

Presuming I have 1 object in my store, `{ label: Assistant }`

A search for `assist` yields one result, however a search for `assista` yields none. In fact, there's no result for `assistan` either, but `assistant` returns the expected result.

I've created a JSFiddle that replicates the issue;

https://jsfiddle.net/mfzx2gq9/1/

The

[2018-01-31 20:35] escofield commented on #279
i was faced with the same issue and removing the trimmer from the pipeline solved my error as well.

[2018-02-01 04:48] hoelzro commented on #328
@TomFoyster You're absolutely right - it is an issue with stemming.  If you try stemming each of those variants with `this.pipeline.runString` from within the builder function, you get these results:

[code]

I'm guessing the stemmer recognizes the `-ant` suffix and strips it out.  What exactly do you want to accomplish? Do you want any partial string to match?

[2018-02-01 08:51] TomFoyster commented on #328
@hoelzro Thanks for your reply.

Yes, essentially we want any partial to match - I think I'm struggling to get my head around stemming - this is legacy code written by a contractor that we're now needing to support.

`ass`, `assi`, `assis`, and `assist` all return a match on _assistant_ - so we need it to follow the whole way through the word.

This is all part of an autocomplete system, so curren

[2018-02-01 16:44] TomFoyster commented on #328
@hoelzro I've made some progress, but I'm not quite there.

I've updated the fiddle to better show the issue;

https://jsfiddle.net/mfzx2gq9/5/

I've experimented with some code I've found elsewhere, which has reduced the issue down to a single instance returning no results - `assistan`. This can be solved by upping the editDistance value to 6 - increasing the fuzzyness of the search. This though

[2018-02-01 16:57] hoelzro commented on #328
@TomFoyster Since this is part of an autocomplete system, it sounds like you need prefix search, and I would agree with your assessment that lunr probably isn't a good fit this task.  If you don't need stemming itself (eg. normalizing `jumped`, `jumps`, and `jumping` to `jump`), you could turn stemming off in the pipeline, and that might give you better results.  I find wildcards and stemming kind

[2018-02-02 06:53] fbennett commented on #279
We found that cloning the clause for each term in ``index.js`` cleared this error for us. I'm not sure if that is related to, or less or more drastic than, removing trimmer, but I'll tie it into this thread for completeness. The issue that we experienced and the patch are at #327.

[2018-02-05 09:30] olivernn commented on #328
As @hoelzro has suggested, removing the stemming is probably the right approach here, I've updated the [fiddle](https://jsfiddle.net/mfzx2gq9/7/) to show how.

Hopefully without stemming you should get results that make more sense in an autocomplete. Autocomplete wasn't the original intended use case for Lunr,  I would hope it would at least be possible to get reasonable results with the right con

[2018-02-05 09:30] #328 closed

[2018-02-05 09:35] olivernn commented on #325
There is already an [issue](https://github.com/MihaiValentin/lunr-languages/issues/9) on the lunr-languages project for adding Arabic support. My guess is that you will get more traction by providing a pull request than an issue however.

Either way this is not an issue in Lunr, it _could_ support Arabic if someone would put together a [language plugin](https://lunrjs.com/guides/language_support.h

[2018-02-05 09:35] #325 closed

[2018-02-16 08:21] LorenzoSerino opened #330 "pre-building indexes & Safari iOS"
Hello olivernn, i report there is a problem using pre-building indexes on Safari iOS

using the pre-building indexes  with data dimension >= 1M : Safari stop the executing script and crashes.

The offending code line seems to be:

`var idx = lunr.Index.load(JSON.parse(data))`

in detail :  JSON.parse(data)
i try to verify the CPU time :

[code]

and the CPU time is very higth in comparison to a si

[2018-02-16 15:11] giuliac89 opened #331 "Feature request: support for case-sensitive and case-insensitive search"
Hi Oliver,
do you plan to add this feature?

[2018-02-19 19:33] olivernn commented on #164
@Petesta the search method does not return the documents that match, instead it returns a reference, i.e. the id of the document. The results are covered in more detail in the [search results docs](https://lunrjs.com/guides/core_concepts.html#search-results), they look like this:

[code]

[2018-02-19 19:47] olivernn commented on #264
Sorry for the lack of updates on this (and other) issues, my son was born at the end of last year so I haven't had a lot of free time recently 😅

I did push a [branch](https://github.com/olivernn/lunr.js/tree/term-presence) with the changes to support this, its all there apart from the additions to the search string parser. So you can programatically construct queries with `lunr.Index#query` to te

[2018-02-19 20:26] olivernn commented on #330
Thanks for reporting this, out of interest, how large is the serialised index that you are trying to load?

I've been thinking of providing a non JSON serialisation of the index, the original reason was to reduce the size of the index, but having some format that could be parsed in a way that is less expensive than JSON (or at least could pause to avoid these long executions) would be another bene

[2018-03-01 18:16] nbuonin commented on #279
I'm seeing the same bug on this I'm working on [site](https://polar-hub.github.io/polarhub//database/).  I've tried both work arounds mentioned above: removing the trimmer and cloning the clause for each term - neither worked though.

One kludgey thing that did work was to console.log out each expandedTerm here: https://github.com/olivernn/lunr.js/blob/fd5dccdbb81fc47e0d1f431a392f8c934d4eb39d/lib/

[2018-03-05 20:17] olivernn commented on #264
I've just opened a [PR](https://github.com/olivernn/lunr.js/pull/332) with the changes to support term presence queries. There is an alpha release available on npm too (lunr@2.2.0-alpha.1). Please take a look and let me know any feedback or comments you have. If all goes well 2.2.0 stable will be released within the week.

[2018-03-06 14:04] kapilgupta77 opened #333 "Feature Request : Use of Tokenizer without indexing"
Hi,

Is it possible to just use tokenizer to tokenize a string? Currently, I have to first create an index and then use  index.tokenSet.toArray() to get a list of unique words in an array.

Thanks
Kapil

[2018-03-06 18:24] olivernn commented on #333
It is possible to use [`lunr.tokenizer`](https://lunrjs.com/docs/lunr.html#.tokenizer) without first creating an index:

[code]

`lunr.tokenizer` does not return a unique list of words though, it just converts a string into tokens, there may be duplicates:

[code]

You could certainly use [`lunr.TokenSet`](https://lunrjs.com/docs/lunr.TokenSet.html) to get a unique set of the tokens returned by `l

[2018-03-06 18:24] #333 closed

[2018-03-06 21:08] hoelzro commented on #331
@giuliac89 FWIW, you could add this feature in current lunr.js by tweaking the pipeline - I believe the forced lowercasing that currently happens happens in the tokenizer.

[2018-03-07 04:50] kapilgupta77 commented on #333
Thank you Oliver.

[2018-03-07 15:17] ToLuSt commented on #304
Close to this topic, I have a similar question:

Is it possible to have have two pipelines, that perform different on various fields?

**So for example**
I have two fields in index:

- body (whole content)

- technical terms (include terms that I extracted via a dictionary from 'body')

Now, I don't want 'technical terms' to be stemmed, because I want that exact match to risen my Precision. On the

[2018-03-07 16:54] hoelzro commented on #304
@ToLuSt I had a similar idea, and I had some code I hacked together (which I unfortunately cannot find) that managed to shoehorn this into lunr.js.  However, I've been reading up on ElasticSearch for work lately, and from how I understand things trying to do that with lunr would potentially skew the scoring of results, unless the underlying index format for lunr were entirely changed - I would hav

[2018-03-07 19:48] olivernn commented on #304
@ToLuSt would you mind opening a new issue for this? I think the original question/issue here is stale and I'd like to close it.

I've got a few thoughts on how to implemented field specific pipelines and am happy to have that discussion. Unfortunately GitHub doesn't allow me to create the issue on your behalf.

Also, I'm _sure_ there is talk of this in some other issue somewhere but I can't find

[2018-03-07 19:50] olivernn commented on #331
.@hoelzro is right, the current down casing happens inside `lunr.tokenizer`. Unfortunately this would mean you would need to re-implement it just to change that one part.

Do you have a specific use case in mind? How does the current behaviour fall short?

[2018-03-07 20:02] ToLuSt opened #334 "Separate Pipelines on various fields"
New Issue thanks to discussion from #304

Is it possible to have have two pipelines, that perform different on various fields?

**So for example**
I have two fields in index:

- body (whole content)

- technical terms (include terms that I extracted via a dictionary from 'body')

Now, I don't want 'technical terms' to be stemmed, because I want that exact match to increase my Precision. On the oth

[2018-03-07 20:09] olivernn commented on #304
@ToLuSt thanks. I'm going to close this one out, @fzingg feel free to comment and I'll re-open to look further into your original question.

[2018-03-07 20:09] #304 closed

[2018-03-07 20:23] olivernn commented on #334
Having a specific pipeline for a specific field _might_ be possible, but what I was thinking was adding the field a term appeared to as metadata on a token.

This metadata is available to each pipeline function the token passes through, so it could decide whether to take action or not based on the field the token appears in.

For your specific case this would require removing the stemmer from the

[2018-03-08 09:08] giuliac89 commented on #331
I'm implementing a search engine for a research project related to philological editions. [https://github.com/evt-project/evt-viewe](url)

It's important to add this functionality to ensure more details in the philological studies that will be carried out on these editions.

[2018-03-08 11:09] ToLuSt commented on #334
Thanks for your fast replies.
This sounds like a good idea. My workmate suggested quite the same

[2018-03-09 09:25] olivernn commented on #334
One thing to note, you will need to [register](https://lunrjs.com/docs/lunr.Pipeline.html#.registerFunction) any custom pipeline functions, more info in the [guides](https://lunrjs.com/guides/customising.html#pipeline-functions).

[2018-03-09 09:31] olivernn commented on #331
So, in your case, a term, say "FOO", has a different meaning than the downcased term "foo"?

As well as `lunr.tokenizer` the query parser also downcasses terms. This only affects `lunr.Index#search`, not `lunr.Index#query`:

[code]

[2018-03-09 14:13] giuliac89 commented on #331
Yes, the difference between a term "FOO" and a term "foo" could be basic for some research studies and this is the reason why I would like to include this feature in my search engine. So the only thing that I can do is re-implement the tokenizer.

Do you think that this feature could be interesting for lunr.js?

[2018-03-13 06:01] myalgo opened #335 "Language agnostic search"
Hi Oliver,

The data that is being used for search is user driven and could be in any language. Kindly let me know how to create indexes and perform search in that case.

Thanks
G

[2018-03-13 08:06] olivernn commented on #335
Lunr supports indexes in multiple languages, more info in the [guide](https://lunrjs.com/guides/language_support.html).

[2018-03-13 08:06] #335 closed

[2018-03-26 14:28] vibl opened #336 "Add tags to the lunr.js project on GitHub"
I was searching for full-text indexing modules on GitHub and I was surprised that Lunr.js didn't appear in the search results.

If you added tags to the GitHub project, it would improve a lot its findability.

Anyway, thanks a lot for the great work!

[2018-04-18 10:06] crystalfp commented on #284
@ncphillips could you share your method to rebuild the index?

I have a hundred documents (Italian and English) and each time the user requests a full text search I rebuild the index if the set of documents has changed. The only small problem is that on subsequent requests I receive the warning: `Overwriting existing registered function: lunr-multi-trimmer-en-it`. Seems I forgot to delete (or pres

[2018-04-18 15:04] ncphillips commented on #284
@crystalfp as of now, we have opted to not upgrade lunr.js to version 2, so we just add/remove individual indices in response to webhook events

[2018-04-19 13:55] DominikTrenz opened #338 "Query / Tokenizing help, exact match"
Hey,

i can't find exact matches or combined fields using the query api.

A fiddle:
https://jsfiddle.net/wvpcdLaa/16/

Can you help me with that?

[2018-04-20 14:48] crystalfp opened #339 "Overwriting existing registered function: lunr-multi-trimmer-en-it"
I'm using lunr v2 to index a hundred documents (Italian and English).
Each time the user requests a full text search I rebuild the index if the set of documents has changed. The only small problem is that on subsequent requests I receive the warning: `Overwriting existing registered function: lunr-multi-trimmer-en-it`. Here is the code:
[code]
The calling function is very simple (hasFileListChange

[2018-04-20 21:03] aecorredor opened #340 "Search breaks in react-native release build but not in debug build"
I've been going through the issues like crazy to find something similar to what is happening to me. The closes I've found is #279 and the possible solutions haven't worked. My app breaks when searching in the release build for some terms, but not when it's on debug mode. I've also gone through the react-native issues and have tried to fix the minify/uglify bugs but haven't been able to fix it eith

[2018-04-22 14:51] hoelzro commented on #338
Hi @DominikTrenz!

From what I see, the reason this isn't working is because you're using the pipeline to index the documents, but _not_ using the pipeline for the search.  This means that you're looking for things like `M 225` in the inverted index, but only processed tokens like `m` and `225` exist in that index.

I don't know if lunr.js can handle exact searches across token boundaries - @olive

[2018-04-22 15:01] hoelzro commented on #340
@aecorredor I know next to nothing about React Native, so bear with me, but how are you passing the pre-built search index to search? Are you keeping it around in a global variable, or are you serializing it to some storage and then deserializing it before you search?

[2018-04-22 16:13] aecorredor commented on #340
@hoelzro I build the index when the app launches and then keep it my redux store so I can connect different components that might need search. Just an FYI there’s an issue open in RN for minification breaking some libraries; I tried the specified solution but didn’t work. I don’t want to have to switch search libraries just for that, because it works on development and just breaks on release. So I

[2018-04-22 18:26] DominikTrenz commented on #338
But isn't
`
q.term(searchTerm, { boost: 100 }) // exact match
`
using the pipeline?
How can i use the pipeline? Removing
` usePipeline: false`
on the other lines changes nothing.
The searching across token boundaries would be pretty important.

[2018-04-23 04:05] hoelzro commented on #338
Yes, that first query _does_ use the pipeline - good point!  The issue here is that you're treating things like `M 225` as a singular token, but lunr.js doesn't index it as a single token.  Even if you disabled stemming, you would still have `m` and `225` as distinct tokens in your inverted index, causing your query never to match.

Let's back up a bit and talk about the higher level: what are you

[2018-04-23 09:06] crystalfp commented on #339
Thanks for the suggestion! But unfortunately the warning is still here: `Overwriting existing registered function: lunr-multi-trimmer-en-it`.
Now I try to delete the index before regenerating it to see if anything change.

[2018-04-23 12:49] hoelzro commented on #340
@aecorredor From the look of that error message, I'm guessing that's the issue

[2018-04-23 16:47] DominikTrenz commented on #338
I made a custom tokenizer for the room field. So the exact match problem should be gone. But i have no idea how to search across multiple fields

[2018-04-24 06:13] olivernn commented on #339
As @hoelzro says, pulling the creation of the instance of `lunr.multiLanguage` up, so that it is only called once, _should_ solve this warning, if I'm reading the [code](https://github.com/MihaiValentin/lunr-languages/blob/master/lunr.multi.js#L57) right.

Alternatively you can change how Lunr warns bye overwriting the `lunr.utils.warn` function.

[2018-04-24 06:16] olivernn commented on #340
@aecorredor do you have a link to the issue on RN for magnification problems? Might be worth updating the RN team with Lunr as a reproduction to help them test any fixes they have.

[2018-04-24 06:36] olivernn commented on #338
I've updated the [fiddle](https://jsfiddle.net/wvpcdLaa/30/) and now get results for all three queries that I *think* make sense.

The problem you were seeing is that `lunr.Query#term` performs _no_ tokenisation of the term, i.e. uses that exact string in the search query. That means in the second query it is searching for the token "M 225". Unless you change the default tokeniser to _not_ split o

[2018-04-25 14:59] aecorredor commented on #340
@oliviernn https://github.com/facebook/react-native/issues/9711

I had to switch to fuse.js for now which I didn’t want to do but had no other choice. I had already spent too much time figuring what part of the build process was breaking it. Hopefully we can figure it out. Cheers.

[2018-04-25 15:05] olivernn commented on #340
@aecorredor Thanks for the link. A brief look through it suggests that react native is using uglify for minification, this is what is used by Lunr for generating [minified code](https://github.com/olivernn/lunr.js/blob/master/Makefile#L43-L44) so it certainly is a strange bug.

[2018-04-25 15:13] aecorredor commented on #340
@olivernn no problem. And also, I kind of discarded that it was a bug on my code from the get go because on RN debug builds it works perfectly fine and it never crashes.

[2018-04-26 07:11] matthiasg commented on #100
very sad to see this not inside lunr.js itself, since it does increase the amount of ram and cpu required and increases pressure on the garbage collector by having copies around (less when text fields are large but still very noticeable in my scenarios)

[2018-04-30 17:38] olivernn commented on #334
I have just published version 2.2.0, this includes changes that should make it possible to run different pipeline functions on different fields.

Specifically, when indexing and searching, the instances of `lunr.Token` will have an additional entry in the metadata named `fields`. When building the index this will contain a single string indicating the name of the field the token appeared in. When

[2018-04-30 17:38] #334 closed

[2018-04-30 17:52] olivernn commented on #324
Sorry for the delay. I think the reason there is so much ceremony around a simple `console.warn` is to protect against environments that do _not_ have access to `console`.

Without using `global` checking for the presence of `console` is difficult, e.g. just doing the following will lead to a `ReferenceError`:

[code]

If there is a way to perform this check without being broken by strict mode?

[2018-04-30 17:53] olivernn commented on #338
2.2.0 includes the above mentioned change. I'm going to close this now as I _think_ we've covered everything, feel free to re-open or comment if not.

[2018-04-30 17:53] #338 closed

[2018-04-30 18:00] olivernn commented on #326
I remember the issue you are talking about. I honestly can't remember the reasons _why_ this change in  2.x of Lunr, but looking at the [docs](https://lunrjs.com/docs/lunr.Builder.html#ref) it seems I _did_ call it out specifically!

I'm not against 'fixing' this regression and would welcome pull requests with such changes ;)

I'll take a look into it myself also, but its not super high on my list

[2018-04-30 18:02] olivernn commented on #261
As of 2.2.0 term presence is supported by Lunr. The interface isn't exactly "foo AND bar", rather the presence of each term can be specified. By default each term is optional, which gives you "foo OR bar". To get "foo AND bar" would be `+foo +bar`, i.e. documents _must_ contain foo and _must_ contain bar.

I'll update the docs/guides shortly with more examples.

[2018-04-30 18:02] #261 closed

[2018-04-30 18:04] olivernn commented on #264
2.2.0 is now released, try it out, let me know if there are any issues! I'll update the guides shortly with some more examples including term presence.

[2018-04-30 18:04] #264 closed

[2018-05-01 22:08] ToLuSt commented on #334
Thanks a lot, I'm going to test this out.

[2018-05-04 09:57] giuliac89 opened #342 "Feature request: add support for multiple wildcards"
Hi Oliver,

lunr.js supports only the wildcard *.
Do you think it might be useful to add support for multiple wildcards, or make them configurable by the user?

[2018-05-04 10:37] giuliac89 commented on #342
Not change but add more wildcards. For example the wildcard character ?, which represents a single character, so when I search for _alon?_  lunr returns both _along_ and _alone_

[2018-05-04 11:07] giuliac89 commented on #342
Yeah, the "*" wildcard is not enough for my purpouse. I need the '?' wildcard that match exactly one character, so a search for `alone?` must match only "along" and "alone", but not "alongside".

[2018-05-04 11:24] olivernn commented on #342
Leaving some notes that might help anyone (including myself) who might want to tackle this...

The bulk of the work would be in getting `lunr.TokenSet` to understand the "?" wildcard. There is already an implementation that creates a token set for strings with edit distance ([`lunr.TokenSet.fromFuzzyString`](https://github.com/olivernn/lunr.js/blob/master/lib/token_set.js#L79-L231)). There is a re

[2018-05-04 12:42] giuliac89 commented on #342
I'll try this tests, but probably I think that it might work. Thanks!

[2018-05-13 09:11] giuliac89 opened #343 "Slow indexing performance with documents with metadata"
Hi Oliver,

indexing performance is slow when I index lots of documents with metadata.
An example of document to be indexed is this

![documenttoindex](https://user-images.githubusercontent.com/25961895/39965592-553342ee-569c-11e8-9145-8b99963c5d29.PNG)

And I build the index like that

       this.index = lunr(function () {
            this.pipeline.remove(lunr.trimmer);
            this.pipeline

[2018-05-14 07:05] olivernn commented on #343
How slow is the indexing performance? How many documents are you indexing? Its difficult to know for sure without know what the `addXMetadata` plugins are doing.

How much metadata are you storing against each term? Storing a lot of metadata can make the index very large.

[2018-05-14 09:04] giuliac89 commented on #343
I index about 1400 documents and for each term I store 8 metadata.
The plugin implementation is simple:

          function addXmlDocIdMetadata(builder, parsedElementsForIndexing) {
          var pipelineFunction = function (token) {
          var docIndex = builder.documentCount - 1;

          token.metadata['xmlDocId'] = parsedElementsForIndexing[Object.keys(parsedElementsForIndexing)[docIndex]

[2018-05-14 09:44] olivernn commented on #343
Does the 30 seconds include serialising the index to JSON, e.g. are you doing this:

[code]

If you can share the data you are indexing, as well as the code to do the indexing, I can take a look.

[2018-05-17 07:21] miraks31 opened #344 "Search on field with AND"
As documented (https://lunrjs.com/guides/searching.html):
- we must use something like 'tags:foo' if we want to search on field 'tags'.
- we must use '+foo +bar' if we want to search 'foo' AND 'bar'

I would like to search all documents having 'tags:foo' AND containing 'bar'.
I tried:
- 'tags:foo +bar' ==> WRONG result (Applied as a OR)
- 'tags:+foo +bar' ==> WRONG result (no result, may be becaus

[2018-05-17 07:42] olivernn commented on #344
First, check what version of Lunr you are using, term presence queries are only supported in version 2.2 and up.

Second, I _think_ there might be a bug, you can try this out on the [demo site](https://olivernn.github.io/moonwalkers/):

Searching for documents with alan AND skylab: `+alan +skylab` returns just one result, this is correct. Restricting the term "alan" to the name field does not seem

[2018-05-17 07:57] miraks31 commented on #344
Thank you for this quick answer.
For your information, I'm using lunr 2.1.5 (the version installed by npm install).
Regards.

[2018-05-17 08:00] olivernn commented on #344
Yeah, 2.1.5 does not have term presence support, you will need to upgrade to 2.2.0 to get term presence support.

[2018-05-18 08:05] miraks31 commented on #344
I successfully installed Lunr 2.2.0.

[2018-05-19 15:22] ganeshkbhat opened #345 "ref : "undefined" in result for search function"
ref : "undefined" in search result for search. Here is my code and example array:

`mdArr = [{body:"# Getting started↵↵↵ Texting xxxx text", url:"/assets/mddocs/intro.md"}, {body:"Another body", url:"/assets/mddocs/intro.md"}]`

`searchString = 'text'`

[code]

![ref-undefined](https://user-images.githubusercontent.com/3424344/40270191-71c5233c-5ba6-11e8-842a-fe381a50bd86.png)

Any help is welcome

[2018-05-19 17:33] olivernn commented on #344
I've just pushed 2.2.1 with a fix for the bug that caused the issues mentioned here, please take a look and let me know if you run into problems.

[2018-05-19 17:33] #344 closed

[2018-05-19 18:36] yeraydiazdiaz commented on #345
I believe the problem is that you have not specified a `ref` field, in that case Lunr attempts to retrieve an `id` field from your docs, but in your case there is none so `ref` is always `undefined`.

Seems you want to use the `url` field as a reference for the documents, I suggest simply changing `this.field('url')` for `this.ref('url')`, as described in [the "Getting started" guide](https://lunr

[2018-05-20 03:30] ganeshkbhat commented on #345
Thank you for your time. `this.ref('url')` worked and I was able to get the positions as well using `this.metadataWhitelist = ['position'];` . Kudos for the nice simple and flexible library. ;-)

[2018-05-20 03:30] #345 closed

[2018-05-22 09:58] miraks31 commented on #344
Hi,

This works well.
Thank you for this VERY VERY fast correction !

[2018-05-25 07:15] crystalfp opened #348 "Replacing trimmer has problems adding to pipeline and with multilanguage"
I want to replace the standard trimmer with an "improved" one. Following the example on the [customization page](https://lunrjs.com/guides/customising.html#pipeline-functions) I defined a plugin this way:

[code]
The line ` builder.searchPipeline.before(lunr.trimmer, pipelineFunction);` fails because `lunr.trimmer` is not defined in the searchPipeline. It works if I use `lunr.stemmer` (and not rem

[2018-05-25 08:03] crystalfp opened #349 "Improve the check for serialized index version"
In `lunr.Index.load()` the version of the loaded index elicits only a warning if the two versions are different. Instead I think `lunr.Index.load()` should throw an error if the major version differs, output a warning if the minor version differs and display nothing if only the patch level differs (Semantic Versioning _docet_).

Just to be prepared for the future I added the following lines in my

[2018-05-25 08:33] olivernn commented on #348
The [default search pipeline](https://github.com/olivernn/lunr.js/blob/master/lib/lunr.js#L41-L43) does not include `lunr.trimmer`, the error thrown could probably include a little more detail.

A search is done either via `lunr.Index#search` or `lunr.Index#query`. In the first case the query parser handles the basic trimming as performed by `lunr.trimmer`, for the latter, it is assumed that the t

[2018-05-25 08:39] olivernn commented on #349
The version check is _very_ basic.

I want the [schema](https://github.com/olivernn/lunr-schema) for the serialised index to be defined outside of Lunr. This is so that the index can be generated without Lunr and a JavaScript runtime.

I'm mostly happy with the current schema, I just need to decide on how to version it, semantic versioning doesn't really make sense for a data format. Once I do tha

[2018-05-25 08:47] crystalfp commented on #349
OK, understand.

So do you think it is a "future oriented" move to wrap the `Index.load()` in a `try/catch` block and regenerate the index (instead of loading it) if the load fails?
Thanks!

[2018-05-25 08:58] crystalfp commented on #348
Thanks for the explanation. I added to the trimmer the removal of some string, not strictly speaking a character, but more a combination of separator and stop word. For example to remove `.pdf` extensions without adding the '.' to the separator list. So really it is not needed in the search pipeline.

Anyway, querying my small database (composed by markdown texts) continue to improve after I updat

[2018-05-25 09:33] olivernn commented on #349
When there is a real schema version, I would imagine that Lunr will just throw if there is a mismatch. You can certainly catch that and re-generate the index. I do not know what the specific error will be yet though.

[2018-05-25 09:38] crystalfp commented on #348
Few tests more...

Seems my trimmer is ignored. In the index (`invertedIndex`) there are still tokens that ends in `.pdf` even if I explicitly remove it in the trimmer (`.replace(/\.pdf$/, "")`). Seems the multilanguage extension overwrite everything in the pipeline.

BTW, I removed `lunr.trimmer` from the pipeline trying to outsmart multilanguage...

So seems the only solution is to return to `th

[2018-05-25 09:41] olivernn commented on #348
Ah, thats annoying. It does look like the multi language plugin [resets the pipeline](https://github.com/MihaiValentin/lunr-languages/blob/master/lunr.multi.js#L61), seems a bit hostile!

[2018-05-25 09:54] crystalfp commented on #348
I confirm that if I put the loading of my trimmer after the multilanguage plugin, it is called.

Maybe adding to `.before()` and `.after()` the possibility to access the reference function (1st argument) by label could alleviate this problem.

That is, instead of my horrid solution `this.pipeline.before(this.pipeline._stack[0], myfunc)` I can just say
`this.pipeline.before("lunr-multi-trimmer-en-i

[2018-05-26 13:13] ganeshkbhat opened #350 "lunrjs search Algorithm logic issues and questions"
Where can I find the scoring algorithm of the lunrjs search in the documentation? I am using the lunr search for multiple key words say (dummy keywords with real results) `test myproject angular` and the result is following. What could be causing such a scoring (actual scoring for keywords below)? Is there somewhere I can see how the weight-ages work, if any?

[code]

[2018-05-26 18:56] hoelzro commented on #350
Hi @ganeshkbhat! I don't know if the algorithm is documented as such, but it's a TF-IDF function normalized by field length.  Here's what the scoring function looks like in the source code: https://github.com/olivernn/lunr.js/blob/fb70cb4e193722aae2f7e68958428682cef29df6/lib/builder.js#L248

[2018-05-27 04:27] ganeshkbhat commented on #350
Ok awesome.  Thank you very much for taking time to respond.

I changed the saturation values to a higher score (say _b = 10) and the results seem ordered correctly as per the calculation priorities (in brackets) here. `test (1) myproject (2) angular (3)` or `test (1) myproject (2)`. This seems okay for sequentially important words.

It seems to me that the search is not ordering based on _b and _

[2018-05-27 13:40] yaronlevi commented on #340
Any updates on using lunr + React Native?

[2018-05-27 14:09] ganeshkbhat commented on #350
Ah... How did I miss boosts?

Is lunr search driven by lowering scores when consistently used across the document? Is that how is it supposed to be for keywords (other than stop words)? The pitfall of doing calculation without defining the stop words are that it will also consider frequently occuring keywords as part of stopwords and reduce rankings. Can you consider set of stopwords array incepti

[2018-05-27 18:03] hoelzro commented on #350
@ganeshkbhat Yes, if a term occurs consistently throughout a _document set_, that will lower its impact on search relevance scores.  If a term is used consistently throughout a _single_ document, though, that will actually increase its impact.  For example, let's say you have a set of 100 documents about software testing.  The token "test" will probably be in most documents, which means "test" wil

[2018-05-27 18:11] hoelzro commented on #350
@olivernn BTW, is there a place where the scoring logic _is_ documented that I missed? If not, where do you think it would best fit in the docs?  This might be useful to other lunr users - maybe I could summarize this discussion and add it!

[2018-05-27 19:34] olivernn commented on #350
@hoelzro I don't think the scoring logic is currently documented anywhere meaningful, adding a guide would be an excellent addition. If you get time please do open a PR on the [site](https://github.com/olivernn/lunr-site), I'm happy to help fill in any missing detail etc.

Lunr 2.x uses an implementation of [BM25F](https://en.wikipedia.org/wiki/Okapi_BM25), the snippet of source you highlighted pr

[2018-05-27 21:36] hoelzro commented on #350
@olivernn Ah, shows what I know!  If I find the time, which section should I add it to? `searching.html.md`, I'm thinking?

[2018-05-28 04:00] ganeshkbhat commented on #350
@hoelzro I definitely did not notice the `lunr.generateStopWordFilter` function and the set of stopwords in the source. Will check it today with a few checks. I was assuming it being deciphered as a stop word if it occurs consistently over a set of documents, irrespective of presence of pre-definitions or not.

@olivernn

`A common term, i.e. one that appears in every document in the index, is lik

[2018-05-31 16:55] kkirby commented on #100
@matthiasg Late reply since I'm looking into this as well. But something that I'd like to point out a is that if Lunr were to do it for you it would use more CPU and RAM than if you did it for Lunr.

[2018-06-01 08:56] matthiasg commented on #100
@kkirby no worries for the delayed response. Sorry but as for your comment, I do not follow yet.

When my code has to do it I have to build a new shallow copy object of all fields to index:

original:
[code]

new document:
[code]

Now admittedly this data is just a shallow copy but it is a new document which requires garbage collection.

The way I would see it implemented in an indexing engine (we

[2018-06-01 09:48] taxidriver61 commented on #284
@olivernn

I disagree, from an architectural point of view.

- **Space efficient vs. performance:** Lets say I want to integrate a search feature into a desktop application that is based of Electron. This application is designed to work on it's own, that means: there is no server backend. The size of managed data will grow over time. As a result the index will grow as well. Due to the business and

[2018-06-01 16:19] kkirby commented on #100
@matthiasg That's a good point. I suppose it all depends on how Lunr would end up storing the data. My thought process was that it would end up taking Lunr longer to detect and parse out the proper indexes based on your configuration vs having a flat tree of data. Though, I see what you mean about creating copies of objects and how that would trigger a GC, taking up CPU time.

[2018-06-01 21:17] abastardi commented on #284
@taxidriver61, these projects are not highly active, but you might also consider [js-search](https://github.com/bvaughn/js-search), [elasticlunr](https://github.com/weixsong/elasticlunr.js), [ndx](https://github.com/localvoid/ndx), and [search-index](https://github.com/fergiemcdowall/search-index) (some require you to add your own stemmer).

[2018-06-02 15:47] hoelzro commented on #284
@taxidriver61 @abastardi You might also want to check out my lunr extension, [lunr-mutable-indexes](https://www.npmjs.com/package/lunr-mutable-indexes), which adds mutable index support to 2.x!

[2018-06-02 20:05] olivernn commented on #100
I think its a fair point that there is an overhead in creating the documents in the format required for Lunr. How much of an overhead is difficult to know without some benchmarks/traces etc. My guess is it would be insignificant compared to the amount of work in actually building the index though.

@matthiasg _If_ Lunr did support this, what would you propose the interface would look like? The sim

[2018-06-02 21:59] olivernn commented on #284
Well, its open source with a permissive license, so...

@taxidriver61 I don't mean to trivialise your comment, clearly rebuilding the index each time a single document is modified isn't as efficient as being able to just (re)index the modified document.

IIRC one of the large changes between v1 and v2 is that v2 pre-computes the vector space representation of the documents. The weights in that vec

[2018-06-04 09:22] matthiasg commented on #100
an extractor function would allow for some very customized behavior of course.

I would have simply made it default to follow the nested value
e.g `this.field('data.name')` assuming that `data.name` is a the propertyName/Path as it means to follow the lookup as in

[code]

The indexed field name would simply be `data.name` including the `.`

[2018-06-04 09:26] matthiasg commented on #100
@olivernn I agree as for the overhead, but we have developed a specific software platform were entire data large trees can be taken offline with a minimum of thousands of objects and potentially tens of thousands locally.

The GC pressure for us is already pretty high in load/import scenarios and thus we try to always use algorithms that don't accrue more load if not necessary and if close wrt imp

[2018-06-04 09:49] miraks31 opened #352 "Cannot read property 'similarity' of undefined"
I didn't find the reason why on some searches, I have the following exception:

[code]

What could be the reason?
Is it a bug or a bad usage on my side?
Regards.

[2018-06-04 12:39] olivernn commented on #100
Thats _basically_ JSONPath then right? You would also need to handle arrays etc. I think this way pushes a bunch of complexity into Lunr that I don't really want to maintain.

You could still make the extractor function generic without passing it the field name:

[code]

[2018-06-04 12:40] olivernn commented on #352
Its difficult to tell from the exception alone. Could you provide a reproduction, or at least the code that you have that is generating this error?

[2018-06-04 13:03] miraks31 commented on #352
[Cesar_ws.zip](https://github.com/olivernn/lunr.js/files/2068322/Cesar_ws.zip)

Hi,
You can try like this:
1- You need nodejs
2- Unzip the attached file in a directory
3- launch node server.js
4- In a web browser, enter the following url:
http://127.0.0.1:8080/search2/application_a/c_program_&_natcos:A350

Thank you in advance for your halp.
Regards.

[2018-06-05 20:10] aguynamedben commented on #342
A case I ran into: providing a type-ahead search for contact names.

Using https://olivernn.github.io/moonwalkers/
I want to be able to search for `+charles* +duke*` (logical AND with a wildcard on each word, so the user could just type `ch du` and find `Charles Duke`.

This works: `+charles +duke*`
But it seems like multiple `*`'s aren't supported (i.e. `+charles* +duke*` fails to find).

[2018-06-06 19:27] miraks31 commented on #352
No, I'm not. I think the issue is due to some indexed data but I wasn't able to identify the reason.
That's why I'm not able to produce a minimalist scenario.

[2018-06-06 19:33] olivernn commented on #350
What do you mean? Are you saying that a document that has fewer occurrences of a keyword is being ranked higher than a document with more of those keywords? Remember that the size of the document is taken into account in scoring. A document with two words, one being your keyword is more relevant to that keyword than a document with a thousand words, two of them being the keyword.

Do you mean the

[2018-06-06 19:37] olivernn commented on #348
I'm going to close this now as I don't think there is anything to be done on the original topic of this issue.

[2018-06-06 19:37] #348 closed

[2018-06-06 19:49] olivernn commented on #342
@aguynamedben I _think_ the specific issue you mention in the demo is due to stemming. There is no "charles" in the index, it is stemmed to "charl".

When a search string contains a term with a wildcard, stemming is disabled. This is because its impossible to know how to correctly stem a partial word. Since there is no term with prefix "charles" in the index it will return no results.

My recommen

[2018-06-06 19:52] olivernn commented on #326
Going to close this now as this _is_ documented behaviour (though it _has_ changed during the major version bump from 0/1 to 2).

As mentioned before, I am open to pull requests that support numeric refs, but I don't see myself getting to this anytime soon.

[2018-06-06 19:52] #326 closed

[2018-06-06 19:56] olivernn commented on #317
I've been thinking about this some more and I think the right solution is actually document boosts at build time. It could be used to solve this problem, as well as giving boosts to higher quality 'documents'. Specifically say your documents are products that have a rating, the rating could be used as a document boost so that higher rated products are more likely to top the search results.

I've r

[2018-06-06 20:00] olivernn commented on #312
I've been looking at this recently, in addition to bringing back the field boosts I also want to [introduce document boosts](https://github.com/olivernn/lunr.js/issues/317#issuecomment-395193804). As mentioned in that linked comment there are a couple of snags with the current implementation of similarity ranking that needs to be worked out before this feature can land.

[2018-06-06 20:01] olivernn commented on #296
Closing this as I think there is nothing more to do. Feel free to comment if you still have unanswered questions.

[2018-06-06 20:01] #296 closed

[2018-06-06 20:03] olivernn commented on #287
Closing this as it has gone stale, feel free to comment or re-open if you still have any unanswered questions.

[2018-06-06 20:03] #287 closed

[2018-06-06 20:05] olivernn commented on #305
I think this has gone stale, closing for now but feel free to comment and I'll re-open.

[2018-06-06 20:05] #305 closed

[2018-06-06 20:23] olivernn commented on #352
Maybe I can give you a couple of pointers that might help you dig into the code to understand what is going on.

`similarity` is a method on `lunr.Vector`, an object that holds the vector space representation of a documents field. You can see all of these in your index here `idx.fieldVectors`. They are indexed by field/document_ref.

So _somehow_ Lunr is looking for a field vector for a document r

[2018-06-07 07:32] miraks31 commented on #352
Hi,
I didn't reproduce EXACTLY the same issue but I think that the reproduced one is linked to this one.
I'm saying that because I dumped some variable and I got that just before the error:

In my model, I don't have attribute named "application_a", but I have one named

Here is the link to reproduce at least an error: http://jsfiddle.net/0rwtspc2/36/

[2018-06-07 07:36] miraks31 commented on #352
Just another comment, as you can see my attributes names have "_".
I did that because I think that lunr doesn't support space in attributes names.
Indeed, if I have an attribute named "my attribute" and if I want to search on this attribute, I would like to do something like this:
my attribute:value
lunr will raise an error because "attribute" is not an attribute.
I tried this but without success:

[2018-06-07 07:40] miraks31 commented on #352
If in attributes names, I replace "/" by "_", this works well.

[2018-06-07 09:56] olivernn commented on #352
@miraks31 good investigation, yeah I think the field name containing a "/" is the problem here. When Lunr combines the field and document ref into a single string to key into the vector map it does so with a "/". It seems likely that some piece of code inside Lunr is not handling multiple slashes correctly. I'll take a look later to see the if this can be improved in Lunr. For now the right mitiga

[2018-06-07 17:49] aguynamedben commented on #342
@olivernn Thanks for that feedback on the best way to do searches for type-ahead. I'll give it a go.

For fun, here are some interesting things I came across recently:
* [How Google Code Search Worked](https://swtch.com/~rsc/regexp/regexp4.html)
* [pg_trgm (trigrams in Postgres)](https://www.postgresql.org/docs/9.6/static/pgtrgm.html)
* [trilite, dead project for trigram indexing in sqlite](https:

[2018-06-07 19:22] olivernn commented on #342
Lunr does have support for [plugins](https://lunrjs.com/guides/customising.html#plugins). In some ways they are quite limited, and in others very powerful. A plugin is just a function that is executed in the context of the index builder, so Lunr doesn't _really_ provide much support. On the other hand, this is JavaScript, so you're pretty much free to ~~monkey~~ freedom patch whatever you like. Th

[2018-06-08 11:15] dawez commented on #279
Is there any update on this issue? I also noticed that I have broken search on safari.

[2018-06-10 03:31] jonfrench commented on #317
Yes. Thank you Oliver. Boosting the document at build time would meet my requirement. I appreciate you looking at this.

[2018-06-11 15:12] ganeshkbhat commented on #350
`What do you mean? Are you saying that a document that has fewer occurrences of a keyword is being ranked higher than a document with more of those keywords?` Yes

`Do you mean the tuning parameters b and k1?` Yes

My question:
What is the recommended normalisation value and stabilisation value to have equal weight-ages across keywords in a phrase?  `test (weight 1) myproject (weight 1) angular (w

[2018-06-11 19:51] sritchie926 opened #353 "Search ANDs terms within the same field"
I am using the lunr search to add filters to a list and I am using the syntax for a logical AND, though I had expected search terms with the same field to be ORed.

 Example:
`idx.search("+status:2 +category:Fruit +category:Vegetables")`

Should end up as:
 "status:2 AND (category:Accessories OR  category:Antiques)"

 But it's actually ending up as
 "status:2 AND category:Accessories AND  category

[2018-06-11 19:53] olivernn commented on #352
So, I tried and failed to find a reasonable way to handle fields containing "/". I could get something working but not without an unreasonable impact on performance for all searches, even those against indexes that do not contain fields with a slash in them.

Instead I'm going to take the easy way out and add a check at build time for fields containing unsupported characters and throw an error. Th

[2018-06-11 19:56] olivernn commented on #100
@matthiasg unless it wasn't clear, I'm open to a pull requests that adds this feature 😉

I'm not 100% on the name `extractor` yet but I think passing an optional function that extracts the field from a document is a reasonable implementation.

[2018-06-11 20:15] olivernn commented on #353
I'd say that it is working as implemented, though clearly not as expected 😉

I'm guessing for your search you are then not seeing any results because it is not possible that the category is both 'Fruit' and 'Vegetables' at the same time?

Currently there is no built-in support for grouping of query terms. If you drop the '+' (presence required) operator from those categories you will get close to

[2018-06-12 13:22] miraks31 commented on #352
Hi Oliver,

I changed my code to replace / by _.
This works perfectly !
This a good idea to check at build time that fields names are correct.
Thank you again for this great tool.

[2018-06-15 16:32] mike1808 opened #354 "Query#term called with tokens array and options only last token is used"
When initializing query with the output of `lunr.tokenizer` the search is performed only for the last token.

[Fiddle](https://jsfiddle.net/ndv66e5r/15/)

The issue is in [lunr.Query.prototype.term](https://github.com/olivernn/lunr.js/blob/master/lib/query.js#L178) where the same options object is reused for each clause.

[2018-06-18 20:07] #354 closed

[2018-06-18 20:33] olivernn commented on #310
I'm going to close this as I _think_ it is mostly covered by the 2.2.x release.

[2018-06-18 20:33] #310 closed

[2018-06-18 20:38] olivernn commented on #295
@mdobeck that is the right way to remove the stemmer when building the index, there is also a search pipeline `this.searchPipeline`, that also includes stemming.

I'm going to close this now as I don't think there is anything left to do, feel free to comment and I'll re-open if required.

[2018-06-18 20:38] #295 closed

[2018-06-18 20:41] olivernn commented on #303
This is quite old now, but the docs have been updates with a section on [scoring](https://lunrjs.com/guides/searching.html#scoring).

Would still love some kind of index visualisation 😉

[2018-06-18 20:41] #303 closed

[2018-06-23 09:22] olivernn commented on #352
The latest release will throw an error if you try and use a character in a field name.

[2018-06-23 09:22] #352 closed

[2018-06-23 09:27] olivernn commented on #312
I've just released version 2.3.0 which now re-introduces field boosts as well as adding document boosts. Documentation is being updated, I will updated the guides at some point too, but this is what the interface looks like:

[code]

[2018-06-23 09:27] #312 closed

[2018-06-23 09:29] olivernn commented on #267
I've just released 2.3.0 which includes support for both document and field boosts at build time, as well as the already existing query time boosts.

Documentation/guides to be updated, but the interface looks like this:

[code]

[2018-06-23 09:30] #267 closed

[2018-06-24 11:42] yeraydiazdiaz opened #358 "Odd results when using Lunr v2.3.0 with lunr-languages"
Hi Oliver,

while porting Lunr.py to include the recent changes in Lunr v2.3.0 I noticed a big difference between the results when using lunr-languages on the same corpus from v2.2.1 and below.

I put together a couple of codesandboxes to showcase the issue, on both I'm using the same corpus of spanish documents and searching for the same term "imperio":
- [Using v2.3.0](https://codesandbox.io/emb

[2018-06-25 19:42] yeraydiazdiaz commented on #358
Glad you liked the test data 😄  I figured it'd be easier to understand the text if it was something familiar.

You're right, turns out I expected the stemmer to turn `imperial` and `imperiales`, the two instances in `e`, to `imperi` which is the stem of `imperio`, turns out it doesn't, hence `e` scoring lower.

After tracing both versions it appears the changes in `Vector.similarity` make up for a

[2018-06-25 19:42] #358 closed

[2018-06-25 20:09] olivernn commented on #358
Yeah, I think the way the similarity method worked before was _probably_ wrong. I mean, it worked, but made boosts, either at query-time or build-time, mostly ineffective.

I'm glad the new scoring/ranking seems to be more coherent, let me know if anything else crops up while your upgrading Lunr.py.

[2018-06-25 20:45] yeraydiazdiaz commented on #358
That was the only “issue” actually, everything else went smoothly. Just released [0.4.0](https://pypi.org/project/lunr/#history) targeting Lunr.js 2.3.0 🙂

[2018-06-26 06:38] knlodha commented on #312
Thanks a lot @olivernn for adding it back . I will check it out.

[2018-06-26 06:45] olivernn commented on #100
I went ahead and implemented the [extractor](https://lunrjs.com/docs/lunr.Builder.html#field) function on fields. It is available in 2.3.0.

[2018-06-26 06:45] #100 closed

[2018-06-26 07:32] matthiasg commented on #100
@olivernn great !

Though I would still have passed the field name, since I now have to create a lot of functions (one for each unique name at least) which again will increase resource usage :) and this time it is even more difficult to understand the actual GC impact, since code will be compiled and I am not sure how well browsers will collect the compiled code once it is not needed anymore (coul

[2018-06-26 08:22] olivernn commented on #100
@matthiasg How many fields are you indexing?

Of course a function instance will consume some resources, I think its probably an insignificant amount though. That is unless I'm missing something about your implementation?

As for the impact on the GC, the extractor functions will need to exist as long as the builder exists, so they should be all discarded when the builder goes out of scope.

Witho

[2018-06-26 11:18] matthiasg commented on #100
Data always wins :)

Since we have hundreds of forms (mostly user generated) we do have an unspecified number of form/fields.

But just once more, I have no trouble believing this is an non-issue resource-wise, but when we are faced internally with two ways to implement, one with short lived objects or closures and one without, we try to choose the latter.

Again. Thanks for this constructive disc

[2018-07-05 08:55] dave-irvine commented on #340
@aecorredor @yaronlevi are you still having problems in recent RN versions? I'm on RN 0.55 and not getting a crash in a Release build when I call `idx.search('test*');`

[2018-07-05 13:21] aecorredor commented on #340
@dave-irvine I ended up having to switch to fuse.js so I wouldn’t be able to tell you. Sorry mate.

[2018-07-19 20:42] brandon-bethke-neudesic opened #360 "TypeError: Cannot convert undefined or null to object"
The following code will throw an exception: TypeError: Cannot convert undefined or null to object

[code]

[2018-07-20 10:02] lucaong commented on #279
Just to add more to this, there is something curious with the "misterious" fixes to this issue.
It does not really matter what one does with the expanded term: just calling any method defined on `String.prototype` (even without actually using the result) fixes this bug:

https://jsfiddle.net/egLzL24L/40/  (see the `.charAt(0)` on line 17. Removing it causes the bug to re-appear)

Interestingly, ca

[2018-07-20 12:40] lucaong commented on #279
I think I managed to pinpoint the exact place in `lunr.TokenSet` where the string gets sometimes corrupted in Safari:

https://jsfiddle.net/egLzL24L/77/ (see line 38 and relevant comment)

It seems that the string concatenation (no matter if done with `.concat` or with `+`) results in the corruption, which is fixed by calling any `String.prototype` method on the string. The two strings that get co

[2018-07-20 13:57] fauno commented on #237
hi, now lunr is 2.3, is there a way to do this? :)

[2018-07-20 14:32] fauno opened #362 "indexing dates?"
Hi, I have a set of documents with a `date` field on them, with strings like `"2014-01-01 00:00:00 -0300"` (I never remember the names for the formats, sorry).

But when I try to do a search for year (`date:2017*` for instance), it doesn't return any result, though I did `idx.field('date')`.  I'm inspecting the index and I don't see any mention to the date field being indexed, should I assume lunr

[2018-07-20 16:48] lucaong commented on #279
and here is the smallest script where I can reproduce the bug.

https://jsfiddle.net/egLzL24L/156/

It seems like it's a combination of the trimmer RegExp, a trailing non-word, a Unicode character in a higher block than Latin-1 Supplement, and string concatenation.

[2018-07-21 19:47] lucaong commented on #279
And here the bug is reproduced without Lunr, just a short snippet of code similar to the way Lunr builds a TokenSet and then turns it into an array.

https://jsfiddle.net/8zn2fj6s/18/

Note that if you copy/paste the output of the alert when the bug occurs, and inspect it's binary content with `xxd` there are null bytes (`00`) that corrupt the string. Can anybody get it even smaller than this? I t

[2018-07-21 20:43] lucaong commented on #279
Ok, this seems the minimum script that reproduces it. No Lunr code nor any complex data structure is involved:

https://jsfiddle.net/DukeLeNoir/mkrfw4g8/

[2018-07-21 20:57] lucaong commented on #279
I took the liberty to file a bug report on Safari, as this is now clearly a browser bug and not a Lunr issue.

[2018-07-22 19:35] olivernn commented on #360
Thanks for reporting, I was able to [reproduce](https://jsfiddle.net/qza1ho7b/1/) this issue. It looks like it is triggered when the search contains two required terms each scoped by a field but one that matches nothing.

I've tracked the bug down to the way that `lunr.Set.complete` and `lunr.Set.empty` are handled in `lunr.Set#union` and `lunr.Set#intersect`. I'll put together a bug fix and a new

[2018-07-22 19:47] olivernn commented on #279
@lucaong nice work! Are you able to share the link to the Safari bug report?

I *think* that this is really a bug in the way that Lunr handles (or doesn't) unicode. In both `lunr.TokenSet` and `lunr.tokenizer` lunr attempts to get a 'character' from a string, either with `String#charAt` or `String#[]`.

My understanding (mostly from reading [this article](https://mathiasbynens.be/notes/javascript-

[2018-07-22 19:49] olivernn commented on #237
@fauno not yet, mostly because I haven't prioritised it.

[2018-07-22 19:57] olivernn commented on #362
Lunr doesn't really care what object the field contains, everything gets converted to a string via `Object#toString`. Since your date is being passed as a string Lunr doesn't treat it any differently from any other field.

A prefix search _will_ be slower than a non prefix search, though 2s seems quite long. Is this any longer than any other search with a trailing wildcard?

What is your use case,

[2018-07-23 06:51] asinakdeniz commented on #360
Hi,
We have faced with the same problem so kindly request you to this fix this bug as soon as possible. We will be waiting a new release impatiently. Many thanks...

[2018-07-23 08:46] lucaong commented on #279
@olivernn I filed the bug at https://bugreport.apple.com, it has number 42468541 but does not seem to be publicly visible. No response so far, but I will keep you updated.

You're right, unicode handling is mostly lacking in JS, but that should not lead to a corrupted string. Besides, the null characters could be the native string terminator leaking out, so there's the risk that someone more skill

[2018-07-23 14:34] fauno commented on #362
I was trying to do a year range search, for instance retrieving all documents since 2016, or between 2014 and 2017, etc.

Since #237 isn't implemented, I was going for a search per year and then merging the results, but I found the issue I described.  Maybe if I index the year in its own field, so I don't have to do a wildcard search?  I'll try later, but it didn't seem to index the full date anyw

[2018-07-23 17:29] olivernn commented on #362
Yeah I think you're best bet is to index just the year, then you can either use the wildcard search of just list every year you are interested in in the query string, e.g. `year:2018 year:2017 year:2016 some other words`.

[2018-07-23 20:00] chasenlehara commented on #279
@lucaong It might be worth [reporting a WebKit bug](https://webkit.org/reporting-bugs/) so we have some visibility into their process.

Thank you so much for taking the time to debug this issue more!

[2018-07-23 21:40] fauno commented on #362
nevermind my comment on not parsing data.json, I found out the mistake :P

[2018-07-24 06:03] olivernn commented on #362
Got it working?

If so I think lets close this issue, I think better indexing/searching of dates falls under #237. Let me know if you still have questions on this specific issue though.

[2018-07-24 07:03] olivernn commented on #279
The patch from @lucaong is now on master, so if anyone wants to try out the bleeding edge they can. A proper release will follow shortly.

[2018-07-24 08:20] lucaong commented on #279
@chasenlehara thanks for the link, I filed this bug there: https://bugs.webkit.org/show_bug.cgi?id=187947

[2018-07-24 14:08] fauno commented on #362
no, i couldn't.  the nevermind message was about an unrelated line of code. still getting no results for `year:2017` nor `2017`.

[2018-07-24 16:54] olivernn commented on #360
I have just published 2.3.1 which contains a fix for this issue.

[2018-07-24 16:54] #360 closed

[2018-07-24 16:56] olivernn commented on #279
I've just pushed 2.3.1 to npm which includes the patch from @lucaong.

I'm going to leave this issue open for now until I get around to updating the tokeniser and token store to be more aware of unicode.

[2018-07-24 16:57] olivernn commented on #362
Oops, sorry was to eager to close this!

Would you mind putting a simple reproduction of the bug on https://jsfiddle.net (or similar)

[2018-07-24 17:31] fauno commented on #362
Thanks! I've uploaded the idx.json and test script in the previous zip, please tell me if you prefer jsfiddle :)

[2018-07-24 17:40] fauno commented on #362
it works on jsfiddle but haven't figured out a way to load lunr-languages yet

https://jsfiddle.net/9vak3qcn/7/

[2018-07-24 17:52] fauno commented on #362
Ok, confirmed locally the issue is with the Spanish stemmer! I thought I tried this before. Thanks for your help :)

[2018-07-24 17:52] #362 closed

[2018-07-27 04:25] crystalfp opened #363 "Feature request"
To put a trimmer first in the pipeline I have to do:

[code]
The usual `this.pipeline.add(MyImprovedTrimmer);` works, but put my trimmer at the end of the pipeline.

It could be helpful to have added the function `this.pipeline.prepend(func)` that puts `func` first in the pipeline.

[2018-07-31 11:15] sosharma1403 opened #364 "Results aren't accurate for search"
[code]

Should return match for `this`

[2018-07-31 11:49] yeraydiazdiaz commented on #364
The reason Lunr returns no results for your query is because `this` is [one of the words filtered by the `stopWordFilter`](https://github.com/olivernn/lunr.js/blob/1476784e5f9923aae41dc9cca3b026361ef50586/lib/stop_word_filter.js#L139), which skips it during the indexing of the document as it's considered an non-content word in english.

Searching for other more meaningful words like `user` or `mod

[2018-07-31 14:04] lewisnyman opened #365 "'json' query does not return expected results"
Hi 👋 I'm a bit stumped by the behaviour I'm seeing in this implementation. For some reason the term `json` doesn't return pages with API documentation in it, but `application/json` does. Is it related to the tokeniser?

I've created a jsfiddle here with the same content and the default pipeline functions turned off: https://jsfiddle.net/f3sbrtq2/25/

[2018-07-31 15:46] hoelzro commented on #365
@lewisnyman Hi!  Your suspicions about the tokenizer are spot on; it only splits tokens on `-` characters and whitespace by default.  lunr uses full tokens to consult its inverted index - it doesn't find all documents containing `application/json` under the set of documents with the standalone `json` token, hence the "missing" results.

Another thing I noticed about your example; you remove everyt

[2018-07-31 18:50] olivernn commented on #364
Just to add one thing, if you need a different set of words to be considered [stop words](https://en.wikipedia.org/wiki/Stop_words) you can use [`lunr.generateStopWordFilter`](https://github.com/olivernn/lunr.js/blob/1476784e5f9923aae41dc9cca3b026361ef50586/lib/stop_word_filter.js#L6-L19) to create a custom stop word filter. This is exactly how the [default stop word filter is created](https://git

[2018-07-31 18:50] #364 closed

[2018-07-31 18:59] olivernn commented on #365
What @hoelzro says is spot on. You can customise what is considered a separator by overriding the [`lunr.tokenizer.separator`](https://github.com/olivernn/lunr.js/blob/master/lib/tokenizer.js#L69-L76) property. If you want even more control (at the cost of more work) you can implement a custom tokeniser and [use it when building an index](https://github.com/olivernn/lunr.js/blob/master/lib/builder

[2018-08-01 09:48] olivernn commented on #365
What is blocking you from upgrading to Lunr 2.x?

[2018-08-01 10:08] lewisnyman commented on #365
We're using middleman-search which helpfully prebuilds the index but is not actively maintained manastech/middleman-search#29

[2018-08-01 16:45] punkish opened #366 "searching in a field for an exact phrase containing spaces"
I have tags on all my web pages, and have built the lunr index with the tags field. Some tags are multiword phrases. If I search for `tags:hand drawn maps` I get completely wrong result. However, if I search for `tags:hand*` I get the correct result. I have tried `tags:+hand +drawn +maps` and `tags:"hand drawn maps"` but without any success. Suggestions?

update: I should add that I make my index

[2018-08-01 20:41] olivernn commented on #366
When performing a search using [`lunr.Index#search`](https://lunrjs.com/docs/lunr.Index.html#search) the [query string](https://lunrjs.com/docs/lunr.Index.html#~QueryString) you use is parsed into a [`lunr.Query`](https://lunrjs.com/docs/lunr.Query.html) object. By default the parser assumes that whitespace indicates a term boundary, that is a search for "foo bar" is interpreted as a search for th

[2018-08-03 05:53] sosharma1403 opened #367 "`AND` operator and wildcard combination isn't working"

[2018-08-04 08:08] olivernn commented on #367
You haven't really given me much to go on. I'll close this issue, but if you can provide a jsfiddle showing what isn't working I can re-open and investigate.

[2018-08-04 08:08] #367 closed

[2018-08-05 12:48] icidasset commented on #366
Thanks for explaining in detail @olivernn !

I was wondering about one thing:
How come if I don't wrap the tag in an array, when adding, it no longer works?
(line 7, see updated fiddle: https://jsfiddle.net/hey72dmg/14/)

It couldn't find anything in the docs.

[2018-08-06 15:35] olivernn commented on #366
@icidasset yeah, sorry I didn't explain that well, and the [relevant document](https://lunrjs.com/docs/lunr.html#.tokenizer) is a bit hidden.

Lunr uses a [`lunr.Token`](https://lunrjs.com/docs/lunr.Token.html) internally, these are mostly just wrappers around a string. `lunr.tokenizer` is used to create lists of tokens from the fields of the documents being indexed.

If a field is an array, Lunr

[2018-08-11 03:03] kspearrin opened #368 "Leading wildcards on certain search terms cause 100% CPU, freezing browser"
See the following example: https://jsfiddle.net/8s0dzp2c/22/

Something about the amazon URL being stored in this `url` field causes the browser to freeze and become unresponsive when searching by a wildcard `query`.

[code]

If I trim the URL to something like `https://www.amazon.com`, there is no issue. See here: https://jsfiddle.net/8s0dzp2c/24/

Also, if I remove the wildcard altogether, it do

[2018-08-13 06:55] olivernn commented on #368
It's entirely possible that the [wildcard handling code](https://github.com/olivernn/lunr.js/blob/master/lib/token_set.js#L360-L431) is sub-optimal in Lunr. I _think_ that is more likely the cause rather than there being special characters in that string.

What are you trying to search for in the URL? You could try splitting it into more meaningful parts, e.g domain, subdomain, path, query etc?

[2018-08-14 04:03] tuanluu-agilityio commented on #100
extractor works fine

[code]
Thanks @olivernn

[2018-08-14 10:09] tuanluu-agilityio commented on #264
Term presence is great, but do we have any approach for this case: `('A AND B') OR ('A AND C')` ?

[2018-08-15 15:55] mtdjr opened #369 "Term presence mixed with fuzzy search on more than one keyword throws QueryParseError: Unexpected lexeme type 'PRESENCE'"
<img width="604" alt="screen shot 2018-08-14 at 10 08 10 pm" src="https://user-images.githubusercontent.com/8377553/44158139-0e3ef600-a082-11e8-9ff0-3aa73836b955.png">

[2018-08-15 16:36] mtdjr commented on #369
Looks like if the fuzzy search comes last, there isn't an issue.
<img width="558" alt="screen shot 2018-08-15 at 12 35 40 pm" src="https://user-images.githubusercontent.com/8377553/44160219-c28f4b00-a087-11e8-80e6-a1196ab3eaf1.png">

[2018-08-15 20:06] olivernn commented on #369
Thanks for taking the time to report this. It turns out the bug affected both terms with edit distance and terms with a boost. To trigger it required a term with either edit distance or boost, followed by a term with a presence.

I've put together a fix and cut a new release [2.3.2](https://www.npmjs.com/package/lunr/v/2.3.2).

[2018-08-15 20:06] #369 closed

[2018-08-16 20:59] daffl commented on #243
We solved this using [gitbook-plugin-advanced-emoji](https://www.npmjs.com/package/gitbook-plugin-advanced-emoji) and replacing all emojis with their text representation from the [emoji cheatsheet](https://www.webfx.com/tools/emoji-cheat-sheet/).

[2018-08-17 14:35] kspearrin commented on #368
@olivernn Trying to debug this more today since we have more users reporting the problem now.

The problem is definitely showing in `lunr.TokenSet.intersect` as shown by the following profile:

![image](https://user-images.githubusercontent.com/1190944/44271792-107f8c80-a209-11e8-9090-ea4daad2be6a.png)

This was searching for `*am*` with the following test:

[code]

[2018-08-17 14:56] kspearrin commented on #368
Some more findings with this particular use case:

The full value of the URL that causes the problem here is:

[code]

This takes ~30000 ms to complete the `*am*` search query on.

If I reduce the value of the URL to the following, the same `*am*` search query completes in 30ms.

[code]

I have only removed the following from the tail of the URL:

[code]

[2018-08-18 10:24] Benjamin-Dobell opened #370 "Wildcard doesn't match an empty string """
Wildcard presently does not match an empty (zero length) string, where as it's reasonable to expect that it does.

e.g.

Searching for `blue*` will not match an indexed document with the text "The sky is blue". However, searching for `blue`, will correctly return a match.

This is problematic as it typically necessitates two queries where one ought to suffice e.g.

[code]

This also leads to the o

[2018-08-20 13:05] kspearrin commented on #368
So I found another term that isn't a crazy long URL that will also cause this same problem. It appears that the issue always occurs with a leading wildcard. Trailing wildcards do not cause a problem.

Indexed value: `ffffffffffffffffffdfgsdfgdsfgsdfgsdfgsdfgsdfgsdfgsdfgertsdfgsd`

Search query: `*ff`

Takes 47 seconds to complete on my powerful desktop machine.

--------------

[code]

[code]

[2018-08-28 19:32] olivernn commented on #363
I think this would be a good addition to the pipeline interface, anyone interested in putting together a PR?

[2018-08-28 19:40] olivernn commented on #368
Sorry for the delay in responding, and thanks for taking the time to dig a bit more into this issue. This seems similar to #270. I _think_ this is a case of ['catastrophic backtracking'](https://www.regular-expressions.info/catastrophic.html). Lunr isn't using a regex but the process of matching on wildcards is similar.

I think the issue will be in [`lunr.TokenSet#intersect`](https://github.com/o

[2018-08-28 19:49] kspearrin commented on #368
Indeed, it does seem to have something to do with repeating values. Here is an even simpler example:

[code]

[code]

Let me know if there is anything more I can do to help.

[2018-08-28 19:50] olivernn commented on #370
Wildcard matching an empty string seems entirely reasonable. The current behaviour is more likely an omission rather than a deliberate choice.

I need to investigate another [bug](https://github.com/olivernn/lunr.js/issues/368) in the code that handles wildcard so I'll take a look at fixing this also.

[2018-08-28 20:06] olivernn commented on #370
Hmm, this might _not_ be a problem with `lunr.TokenSet` since there is a [test](https://github.com/olivernn/lunr.js/commit/91dd9bde) _specifically_ for matching zero or more characters.

[2018-08-28 22:51] avonlea opened #371 "upgrading lunr in hugo?"
[Hugo](https://gohugo.io/), the static site generator, comes with lunr 0.7.2.

I tried upgrading to lunr 2.3.2.  I created the index differently as described in the [getting started - upgrading page](https://lunrjs.com/guides/upgrading.html).

I'm not able to get search to work though.

I can't even get the very simple index/search('bright') example given in the [getting started page](https://lunr

[2018-08-30 19:36] olivernn commented on #368
So, I did a bit of digging and I found [this](https://github.com/olivernn/lunr.js/blob/master/lib/token_set.js#L272-L275). I cannot remember _why_ it was there in the first place, plus the TODO comment seems to imply that at _some_ point in the past I was also unsure about it. All the current tests pass without it, plus, the particular case you mention in this issue is no longer a problem. The per

[2018-09-01 00:09] avonlea commented on #371
I was able to get lunr 2 to work with Hugo.  The Pixaby auto-complete library was causing problems.

(1) If I use the bevacqua horsey library or (2) if I don't use any auto-complete at all, then search with tags and search in general works.

[2018-09-01 22:02] hammadzz opened #372 "Tokenization of Camel Case"
Why is camelcase not tokenized? When I am searching for "foo" the result will show up for "foo-bar" but not for "fooBar"

Do I need to write a custom tokenizer?

[2018-09-03 04:31] kspearrin commented on #368
Just another observation: It seems that the more repeat letters that exist, the worse the problem becomes. For example with the previous test, `fffffffffffffffffffffffffffffffffffffffffffffffff` performs much worse than `fffffff`.

[2018-09-03 19:51] olivernn commented on #368
I've just published 2.3.3 which includes a fix for this issue. Let me know if it works for you, thanks.

[2018-09-03 19:51] #368 closed

[2018-09-03 19:52] olivernn commented on #270
I've pushed 2.3.3 which should resolve the long search times with some wildcard searches, let me know if it solves the issue, thanks.

[2018-09-03 19:52] #270 closed

[2018-09-03 19:54] olivernn commented on #371
It sounds like this issue is resolved? Was it a problem in the auto-complete libraries? If there is still something specific to Lunr you want me to look into please comment and I'll re-open.

[2018-09-03 19:54] #371 closed

[2018-09-03 19:58] olivernn commented on #372
If you search for "foo*" you _should_ see results for "fooBar".

Lunr splits strings into tokens based on this [regex](https://github.com/olivernn/lunr.js/blob/master/lib/tokenizer.js#L69-L76), you can override this to get different behaviour.

In this case though it _might_ be better off writing a [custom pipeline function](https://lunrjs.com/guides/customising.html#pipeline-functions) to split a

[2018-09-04 01:52] kspearrin commented on #368
Seems to be working well now.

[2018-09-19 09:45] danelia opened #373 "lunr with database"
I have about 4 gb of data that I'm indexing, engine works great, but I have to give up about 4.5 gb of ram. Is there or will there be any way of storing those data in database?

[2018-09-23 07:55] rlingineni opened #374 "Can refs have spaces"
I am building an autocomplete index for my search data, and I want the titles back, not necessarily the id.

[code]

My index has the ref as `title`.

Performing `index.query('get out') ` yields no results, however, `index.query('get') ` yields the proper result.

Is it because when indexing, the ref is split up and spaces are ignored?

[2018-09-24 10:57] meltuhamy commented on #270
Confirmed this fixes it. Thanks @olivernn !

[2018-09-27 10:27] lucaong opened #375 "Missing expected results in fuzzy search (no stemming)"
Performing fuzzy search seems to miss some words within the given edit distance.
Here is one example (disabling stemming and all other pipeline functions to ensure that we are only observing the behavior of fuzzy search):

[code]

In the example above, I would expect the words `scienza` and `coscienzaxx` to also match, as they are at edit distance of 2 from the query term `coscienza` (two deletion

[2018-09-30 18:32] rlingineni commented on #29
@olivernn , a `lunr.Index.prototype.concat` sounds really good. How would I build it? I have a case where I upload my index to the server. It's easier to query smaller chunks of the indexes and then merge the results somehow.

[2018-09-30 18:34] rlingineni commented on #76
@needlestack, did you ever figure out a good way to "merge" the indexes. The problem I run into is maintaining a singular score.

[2018-10-01 08:26] nehalist opened #376 "Confusing output"
I've recently played around with this library; and I'm a bit confused about the outcome for a certain example, see [this fiddle](https://jsfiddle.net/sgdofjw1/).

- "i", "im", "imp", "impre", "impres" returns 0 results
- "impress" returns 1 result
- "impressi" and "impressio" returns 0 results
- "impression" and "impressions" returns 1 result

Shouldn't every given input return 1 result? Am I miss

[2018-10-01 18:49] lucaong commented on #376
@nehalist, you are using the default settings, therefore exact match is performed, not prefix match nor fuzzy match. This explains why "i", "im", "imp", "impre", "impres" all return 0 results. If you search for "im*" (prefix search), you will get one result. Also, the default settings include stemming, so "impression" and "impressions" both get stemmed to "impress". That's why those three searches

[2018-10-02 06:38] nehalist commented on #376
Indeed, thanks a lot!

[2018-10-02 06:38] #376 closed

[2018-10-02 14:54] tknuth opened #377 "Strange behaviour with word "general""
I am getting a little crazy because I do not understand the following behaviour. I have a couple of objects like these:

[code]

When I search for "general", I get results only as long as I type up to "gener". Typing "genera" or "general" removes all matching results.

The word "general" is not part of the stopwordfilter.js, as far as I understand. So what is causing this? Changing it to "generol"

[2018-10-02 14:58] tknuth commented on #377
The same occurs with "introduction" ... it works until the "T" in "introducTion". Am I missing a basic concept?

[2018-10-02 17:14] hoelzro commented on #377
@tknuth When you say you changed "general" to "generol", is this in the document, or in the query?

The reason for this comes down to the interaction between wildcards and stemming - judging from a little test I ran, the stemmer removes the `al` suffix from words, so "general" is stored in the inverted index as "gener".  When you're using wildcards with your input, "gener" will match any prefix of

[2018-10-02 20:55] hoelzro commented on #377
@tknuth I think your approach of having two separate indices _would_ work, but as you point out, you could run into performance issues.  Another potential issue is the ranking of search results - I'm not exactly sure how that would shake out when merging result lists.  @olivernn and I were having a discussion about this issue on one of my projects using lunr [here](https://github.com/hoelzro/tw-fu

[2018-10-04 21:54] lucaong commented on #284
@abastardi @ncphillips @crystalfp if you are ok with a smaller feature set, you can also check out my library https://github.com/lucaong/minisearch

I fully understand the `Lunr` design decision, it's a matter of trade-offs. `Lunr` offers an impressive range of features, and it's reasonable to use an immutable index to keep complexity manageable. `MiniSearch` chooses a different trade-off, is focu

[2018-10-05 01:50] abastardi commented on #284
@lucaong, [minisearch](https://github.com/lucaong/minisearch) looks very useful. Thanks for mentioning it.

[2018-10-16 19:00] olivernn commented on #375
Sorry for taking a while to get to this...

Looks like a bug to me, I put together a simplified reproduction on [jsfiddle](https://jsfiddle.net/8Lzh0sga/).

It looks like, for some reason, that trailing characters only match if they are the same as the last character in the fuzzy string, weird! This also explains why the [test](https://github.com/olivernn/lunr.js/blob/master/test/token_set_test.js

[2018-10-19 20:58] jessebwr opened #379 "Feature Request: Subqueries"
I've been trying to think about how to construct a search like

"+(cat dog) +(ham egg)"

As in it must contain (Cat or Dog) AND (ham or egg)

is there currently any support for this?

[2018-10-23 10:17] Frexuz commented on #328
*Borrowing issue*
I have the same issue. But I can't quite figure out how to turn off the stemmer? :)

[2018-10-23 22:22] KunalSaini opened #380 "unable to load searilized index"
Hi
I am getting following error when trying to load back a serialized index.
[code]

here is the code for reading the index
[code]
hear is how i am serializing the index in first place.
[code]

[2018-10-24 00:10] hoelzro commented on #380
@KunalSaini Thanks for the report! Looking at your example, I see that you're calling the first parameter to `readFile`'s callback function `data` - I believe Node passes in any error object as the first parameter to this callback, and the data loaded from the filesystem as the second parameter.  This is consistent with your error message, which seems to indicate `null` is getting passed to `lunr.

[2018-10-24 14:18] #380 closed, assigned to nobody

[2018-10-25 03:56] hoelzro commented on #375
Looking at `q.toArray()` form @olivernn's example, I see the following output:

[code]

Would I be incorrect in thinking that `foo*` should be in there as well?  The presence of `fo*o` explains why `fooo` is in the intersection, but why `food` is not.

[2018-10-26 00:43] hoelzro commented on #375
I've created a PR at #382 that I believe fixes this issue.

[2018-10-29 19:15] olivernn commented on #372
This looks to have gone stale, resolving.

[2018-10-29 19:15] #372 closed

[2018-10-29 19:17] #366 closed

[2018-10-29 19:17] #350 closed

[2018-10-30 18:39] olivernn commented on #375
I've just pushed 2.3.5 which includes the fix from @hoelzro .

[2018-10-30 18:39] #375 closed

[2018-11-16 01:11] asazernik opened #383 "When using fuzzy matching (editDistance), inexact matches have equal score to exact matches"
e.g. with editDistance of 3 and query of "beans", both "beans" and "bran" match with the same score. Search relevance decaying with edit distance would make this feature much more useful.

[2018-11-26 00:42] edave commented on #97
For anyone who comes across this, in reference to @clanofnoobs's question, the `position` must be whitelisted in the metadata when the index is constructed (within the passed-in function), like so:
[code]
From the bottom of https://lunrjs.com/guides/core_concepts.html

[2018-12-04 10:38] calumpeak opened #385 "Typescript: builder.field, builder.add missing 'attributes' param for lunr"
Hi!

We're integrating lunr into our typescript project and found that @types/lunr is missing the second param for both `builder.field` and `builder.add`. There may be others, I haven't had time to go through and check:

See:
![image](https://user-images.githubusercontent.com/10559737/49436102-20b77980-f7b0-11e8-8bfe-d7e0342a6d05.png)

The typings in question:

[code]

And the code which it refers

[2018-12-10 21:28] sulf opened #386 "`position` is not correct when field starts with whitespace"
In https://github.com/olivernn/lunr.js/blob/f9aeea2c592dc08eec67937bcb5b34903e6c04dc/lib/tokenizer.js#L38 we're trimming the input string and using that for position calculation later in https://github.com/olivernn/lunr.js/blob/f9aeea2c592dc08eec67937bcb5b34903e6c04dc/lib/tokenizer.js#L50.

Here's a quick test case to verify this issue:
[code]

[2018-12-17 12:43] unknown2019 commented on #264
@olivernn, Is it possible to use '(A AND B) OR C' search case with current version?

[2018-12-20 23:44] andrejpavlovic commented on #330
Using something like [Oboe](http://www.oboejs.com/) helps prevent iOS from crashing, but then it takes 10 times longer to parse the index.

[2019-01-03 19:45] TenkenNoSoujiro opened #388 "Suggestion: Migrate to TypeScript"
I recently [forked lunr.js](https://github.com/TenkenNoSoujiro/lunr.js) to add a feature and decided to investigate migrating to TypeScript for the sources. If you are interested, I can create a pull request for my changes. My fork contains the following changes:

* Migration-related changes:
  * Migrate `lib/` to TypeScript
  * Generates a `lunr.d.ts` TypeScript Declaration file that can supplant

[2019-01-08 20:01] olivernn commented on #388
I’m a fan of TypeScript, and if I were starting lunr _now_ I would definitely write it in TypeScript, that said I’m wary of converting the current code base over to TypeScript as is, I’d rather do it in conjunction with some larger re-write or similar.

I will have a look though at how you implemented the different field types, that is an often requested feature.

This is an interesting approach,

[2019-01-11 22:19] millette commented on #324
@olivernn
[code]

[2019-01-16 16:06] guirip commented on #269
@nekdolan Thanks for the tip

[2019-01-16 20:01] rludgero opened #389 "Static site search, I can not access the property."
Hi, I'm trying to create a small search engine for a static site, but I'm not getting access to the title property.

I can not find what I'm not doing right.

Could anyone help me please?

This is the code https://jsbin.com/jonicedigu/edit?html,js

Thanks in advance. :)

[2019-01-16 20:15] chrisbartley commented on #287
First, a HUGE thanks to both @hungerburg and @olivernn for this.  I combined both suggestions and it's working great.  For anyone wanting to do the same, this is what worked for me...

I'm indexing like this:

[code]

And modified the autocomplete function suggested by @hungerburg to use the unstemmed words like this:

[code]

Thanks!

[2019-01-16 21:31] hoelzro commented on #389
Hi @rludgero!

First of all, I noticed from your JS Bin post that you're using lunr 0.7.2 - I highly recommend using a more recent release.  If something is preventing you from doing so, please let us know!

Now, back to the problem at hand...

Looking at this line:

[code]

With `[ref]`, you're creating an array and trying to look up the title property on that array.  Since lunr only returns the

[2019-01-16 23:43] rludgero commented on #389
Hi @hoelzro , thanks for your prompt answer 👍.
Would it be possible to teach me in an example, or better yet, through the jsbin?
I have updated the version of lunr to 2.3.5 in the jsbin.

https://jsbin.com/jonicedigu/edit?html,js,output

[2019-01-17 03:45] hoelzro commented on #389
@rludgero I made some changes here: https://jsbin.com/mavujewiba/2/edit?html,js,console,output

[2019-01-17 12:43] rludgero commented on #389
@hoelzro , 👍 , now I have caught what you told me before.

Thank you very much, for having spent your time and for helping me, now it works perfectly. 💯

[2019-01-17 17:35] #389 closed

[2019-01-17 17:43] olivernn commented on #269
@nekdolan Nice work wrapping that up in an NPM module.

One modification you _might_ be interested in is that, in Lunr 2.x at least, a tokenizer can be specified per index, this _should_ mean that you no longer need to [~monkey~ freedom patch](https://github.com/nekdolan/lunr-unicode-normalizer/blob/c968d2988f7e220066e5fbba8146d807f33c17aa/lunr.unicodeNormalizer.js#L149              ) `lunr.tokeni

[2019-01-21 18:44] olivernn commented on #216
Found this just now, might be at least a starting point for anyone who is willing to do the work required to implement this.

https://github.com/iddoberger/awesome-hebrew-nlp

[2019-01-23 16:56] lucaong commented on #340
I am quite confident that this issue with React Native was fixed by this PR:

https://github.com/olivernn/lunr.js/pull/361

The PR originally targeted a bug in Safari, and React Native on iOS uses the same JS engine as Safari.

[2019-02-11 17:22] lucaong opened #390 "Missing results within edit distance in fuzzy search"
Hello,
the issue https://github.com/olivernn/lunr.js/issues/375 seems to be still occurring in some cases. Fuzzy search, even with stemming disabled, misses some words within the given edit distance. In particular, it seems to miss terms that are equal to the search term plus a suffix as long as the maximum edit distance.

In other words, searching for `abc~2` correctly matches `abcx`, but misses

[2019-02-11 19:50] olivernn commented on #390
That's annoying! Thanks for reporting, I'll put together some tests and then figure out how to get a fix out.

[2019-02-11 20:12] lucaong commented on #390
Thanks a lot! Here is one simple test reproducing it: https://github.com/lucaong/lunr.js/commit/24f4223ab2915566dac09e4b4979d8780a597761

I can send a PR if you wish, but for now it would only include the test, as I did not get the time to delve into the code and devise a fix yet.

[2019-02-14 18:52] olivernn commented on #390
Thanks, yeah I had something similar as a test too.

I've got something that fixes that exact bug, but I'm convinced there are other bugs in that code with a similar fix, I'm just trying to find the right test to expose it.

If you look at the [changes](
https://github.com/olivernn/lunr.js/pull/382/files#diff-83b1c9a36078b06df0de91e9bbb3afcc) from the previous diff the fix is to unconditionally ad

[2019-02-14 19:14] joshdhenry opened #391 "Longer words don't match shorter root words"
Using Lunr 2.3.5.  Here is a small example:

        const data = [{name: 'competitive'}, {name: 'compete'}];

        const index = lunr(function () {
            this.ref('name');
            this.field('name');
            data.forEach((item) => this.add(item));
        });

        console.log(index.search('competitive'));
        // runString() returns 'competit'.
        // Result: [ { ref:

[2019-02-14 21:14] hoelzro commented on #391
Hi @joshdhenry!

Judging from a cursory test using Python's NLTK framework, it looks like this is just the Porter stemmer in action, as you suggested:

[code]

To answer your question about making the search do the right thing for "compete" and "competitive", I'm afraid you'll either need to use a different stemming algorithm, or write a pipeline function that treats the two as synonyms.

[2019-02-15 08:12] lucaong commented on #390
Hi @olivernn
Yes I understand. No need to rush for a fix, better to take the due time to properly figure it out.

There is one way I could maybe help. When working on this kind of algorithmic code, where it’s easy to overlook corner cases, I often find it useful to have one or two property based tests, where I assert some invariant on many examples of randomly generated data.

I could help writing

[2019-02-15 22:35] alexturpin opened #392 "Using languages with prebuilt indexes"
Hey all,

I'm looking for some clarification on prebuilt indexes with languages. I build indexes in both English and French. The code for when I build my indexes looks roughly like this:

[code]

My question is, do I have to do something special to load the French language when loading the index and searching later on? The code that loads it looks like this:
[code]

If I need to "set" this index t

[2019-02-19 19:09] olivernn commented on #392
You shouldn't have to do anything special to use lunr-languages when using pre-built indexes.

When loading the index you just must ensure that any pipeline functions are already registered before loading the index. This just means that you need to require the relevant language extension in the same context that you are going to load the index, for example:

[code]

Let me know if that doesn't wor

[2019-02-19 19:20] #391 closed

[2019-02-25 18:08] MathieuDuponchelle commented on #193
@duhaime which link? :) The source code for the search implementation isn't standalone, but is part of a larger project: <https://github.com/hotdoc/hotdoc/blob/master/hotdoc/extensions/search/create_index.py> is the entry point for the generation code, and https://github.com/hotdoc/hotdoc_bootstrap_theme/blob/master/src/js/search.js for the client-side. Note that I have started a rewrite of the ge

[2019-02-25 21:54] duhaime commented on #193
Ah, awesome, thanks! I may well create a standalone project to support searches over a disk-persisted trie to keep things simple. I don't think it will be too much work, but I haven't started to sink my teeth in yet.

Regardless, your example will be a big help--thanks again for following up!